{% extends 'ROM/admin/layouts/admin_master.html' %}

{% load static %}

{% block content %}

{% include 'ROM/admin/status.html' %}

<br>

<div class = "row mt-3 " >
    <div class= "col-md-5">
        <br>
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <h4>CUSTOMERS</h4>
                    <a href= "{% url 'customer' %}" class="btn btn-info ml-auto">
                        All Customers<i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div class= "card card-body">
                <table class="table table-hover table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>phone</th>
                    </tr>
    
                    {% for customer in customers %}
    
                    <tr>
                        <td><a class="btn btn-sm btn-outline-info" href= "{% url 'Customer_detail' customer.id %}">View</a></td>
                        <td>{{customer.name}}</td>
                        <td>{{customer.phone_number}}</td>
                    </tr>
                
                  {% endfor %}
                </table>
            </div>

        </div>
       

    </div>

    <div class= "col-md-7">
        <br>
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <h4>Last 5 Orders</h4>
                    <a href="{% url 'order_list' %}" class="btn btn-info ml-auto">
                        All Orders<i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!--card header ends-->

            <div class= "card-body">
           
                <table class="table table-hover table-bordered table-striped">

                    <thead>

                        <tr>
                            <th>Customer</th>
                            <th>Service</th>
                            <th>Status</th>
                            <th>Date ordered</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>

                    </thead>
                   
    
                    {% for order in orders %}

                    <tbody>

                        <tr>
                            <td>{{order.customer_id}}</td>
                            <td>{{order.service_id}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.created_at}}</td>
                            <td><a class="btn btn-sm btn-outline-info" href="{% url 'update_order' order.id %}"><i class="fa fa-pencil" aria-hidden="true"></i>Update </a></td>
                            <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_order' order.id %}"><i class="fa fa-trash " aria-hidden="true"></i>Delete</a></td>
        
                        </tr>

                    </tbody>

                  {% endfor %}
                    
                </table>
            </div>
    
        </div>
        
    </div>


</div>


 <!-- recent payments -->


<div class="row justify-content-center my-5">

    <div class="col-lg-5 ">

        <div class=" card card-header">

            <h4 class="card-title">All Services</h4>

        </div>

        <div class="card card-body d-flex">

            <table  class="table table-hover table-bordered table-striped">

                <tr>

                    <th>Category</th>
                    <th>Customer</th>
                    <th>Rating</th>
                    <th>Created_at</th>
                    <th>Actions</th>
                    

                </tr>

                {% for service in service %}

                    <tr>

                        <td>{{service.category}}</td>
                        <td>{{service.customer_id}}</td>
                        <td>{{service.rating}}</td>
                        <td>{{service.created_at}}</td>
                        <td>
                               
                            <a href="{% url 'update_service' service.id %}"
                             class="btn btn-dark btn-sm">
                              <i class="fa fa-edit"></i>
                            </a>

                            <a href="{% url 'delete_service' service.id %}"
                            class="btn btn-danger btn-sm">
                             <i class="fa fa-trash"></i>
                           </a>

                        </td>  
                        
                        
                    </tr>

                
                
                {% endfor %}

            </table>

        </div>

    </div>

    <div class="col-lg-7">

        <div class="card">

            <div class="card-header">
                <div class="row">
                    <h4>Recent Payments</h4>
                    <a href="{% url 'payment' %}" class="btn btn-info ml-auto">
                        All Payments<i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!--card header ends-->

            <!--card body starts-->

            <div class="card-body">

                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Order_id</th>
                            <th>Amount</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    {% for payment in payment %}

                        <tbody>
                        
                                <tr>
                                    <td>{{payment.id}}</td>
                                    <td>{{payment.order_id}}</td>
                                    <td>{{payment.amount}}</td>
                                    <td>{{payment.created_at}}</td>
                                    <td>
                                        <a href="{% url 'update_payment' payment.id %}" class="btn btn-dark btn-sm">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{% url 'delete_payment' payment.id %}" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                        
                        </tbody>

                    {% endfor %}
                </table>

            </div>

            <!--card body ends-->

        </div>
    </div>

   
</div>

<div class="row">

    <div class="col-lg-5">

        <div class="card">

            <div class="card-header">
                <h4 class="card-title">All Offers</h4>
    
            </div>

            <div class="card-body">

                <!--This is where we add our table-->
                <!--Table begins-->

                <table class="table table-hover table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Service</th>
                            <th>Amount</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in offers %}
                           <tr>
                               <td>{{object.id}}</td>
                               <td>{{object.service_id.category}}</td>
                               <td>{{object.offer_amount}}</td>
                               <td>{{object.created_at}}</td>
                               <td>
                                   
                                   <a href="{% url 'update_offer' object.id %}"
                                    class="btn btn-dark btn-sm">
                                     <i class="fa fa-edit"></i>
                                   </a>
                                   <a href="{% url 'delete_offer' object.id %}"
                                    class="btn btn-danger btn-sm">
                                     <i class="fa fa-trash"></i>
                                   </a>

                               </td>  
                           </tr>
                        {% endfor %}   
                    </tbody>

                </table>


                <!--Table ends-->

            </div>
        </div>


    </div>

    <div class="col-lg-7">

        <div class="card">

            <div class="card-header">
                <h4 class="card-title">All Gifts</h4>
    
            </div>

            <div class="card-body">

                <!--This is where we add our table-->
                <!--Table begins-->

                <table class="table table-hover table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Service Id</th>
                            <th>Amount</th>
                            <th>Code</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in gifts %}
                           <tr>
                               <td>{{object.id}}</td>
                               <td>{{object.service_id.category}}</td>
                               <td>{{object.giftcard_amount}}</td>
                               <td>{{object.code}}</td>
                               <td>{{object.created_at}}</td>
                               <td>
                                   
                                   <a href="{% url 'update_gift' object.id %}"
                                    class="btn btn-dark btn-sm">
                                     <i class="fa fa-edit"></i>
                                   </a>
                                   <a href="{% url 'delete_gift' object.id %}"
                                    class="btn btn-danger btn-sm">
                                     <i class="fa fa-trash"></i>
                                   </a>

                               </td>  
                           </tr>
                        {% endfor %}   
                    </tbody>

                </table>


                <!--Table ends-->

            </div>
        </div>


    </div>




</div>


{% endblock %}