{% extends 'ROM/admin/layouts/admin_master.html' %}

{% load static %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-lg-12 mt-3">
            <h2>GIFTS ({{inquiries.count}})</h2>

            <div class="cards d-flex flex-column w-100">
      
                {% for gift in gifts %}
            
                  <div class="card w-100">
                    <div class="card-top">
                      <div class="name">
                        <div class="img one text-light" alt=""><i class="fa fa-user"></i></div>
                        <h6 class="font-weight-bold my-auto">{{gift.name}}</p>
                        
                      </div>
                    
                    </div>

                    <div class="card-content">
                        
                      <p><strong>Amount:</strong> {{gift.giftcard_amount}}</p>

                      <p><strong>Senders Name:</strong> {{gift.name}}</p>

                      <p><strong>Senders Email:</strong> {{gift.email}}</p>

                      <p><strong>Recipients Name:</strong> {{gift.recipient_name}}</p>

                      <p><strong>Recipients Email:</strong> {{gift.recipient_email}}</p>

                      <p><strong>phone number:</strong> {{gift.phone_number}}</p>

                      <p><strong>Message:</strong> {{gift.message}}</p>

                     
                    </div>

                   
                    <div class="card-action">
                      <span>{{gift.created_at}}</span>

                      <div class="d-flex flex-row">
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_gift' gift.id %}"><i class="fa fa-trash " aria-hidden="true"></i>Delete</a>
                        
                        <a class="btn btn-sm btn-outline-info" href="{% url 'delete_gift' gift.id %}"><i class="fa fa-send " aria-hidden="true"></i>Send</a>
                      </div>
                      
            
                      <!-- <button id = "remove" onclick="myFunction()"> <i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button> -->
                    </div>
                    
                  </div>
                  
                {% endfor %}
              </div>
        </div>
    </div>
    
    
    
    
  </div>

{% endblock %}
