{% extends 'ROM/admin/layouts/admin_master.html' %}

{% load static %}

{% block content %}

<br>

<div class= "row ">

    <div class = "col-md-6">

        <div class= " card card-body bg-light">

                    
            <form action="{% url 'update_order' 1 %}" method="POST">

                {% csrf_token %}

                {% for form in formset %}

                  {{form}}

                <hr>

                {% endfor %}

                <input type= "submit" name="submit">

            </form>



        </div>
    </div>
</div>






{% endblock %}