{% extends 'ROM/admin/layouts/admin_master.html' %}

{% block content %}

<div class="container-fluid">

    <div class="row my-5">
        <h3 class="my-auto">All Orders</h3>

        <a href="#" class="btn btn-dark ml-auto" >
            <i class ="fa fa-plus" aria-hidden="true"></i> New Order
        </a>
                
    </button>
            
    </div>

    <div class="row justify-content-center my-5">

        <div class="col-lg-12">

            <div class="card">
    
                <div class="card-body">

                    <p class="card-title">Showing a total of {{orders.count}} orders:</h4>

    
                    <!--This is where we add our table-->
                    <!--Table begins-->
    
                    <table class="table table-hover table-striped table-responsive-sm">
    
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Order Service</th>
                                <th>Customer_id</th>
                                <th>Total</th>
                                <th>Created At</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                               <tr>
                                   <td>{{order.id}}</td>
                                   <td>{{order.service_id.category | title}} (<span class="text-info">{{order.status}}</span>) </td>
                                   <td>{{order.customer_id}}</td>
                                   <td>{{order.total}}</td>
                                   <td>{{order.created_at}}</td>
                                  

                                       
                                    <td><a class="btn btn-sm btn-outline-info" href="{% url 'update_order' order.id %}"><i class="fa fa-pencil" aria-hidden="true"></i>Update </a></td>
                                    <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_order' order.id %}"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a></td>
                

                                   
                               </tr>
                            {% endfor %}   
                        </tbody>
    
                    </table>
    
    
                    <!--Table ends-->
    
                </div>
            </div>
    

        </div>

        
    </div>


</div>

<!-- Modals -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                <!-- @method('POST') -->
                <!-- @csrf -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Enter the Order </label>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Enter the description (optional)</label>
                        <input type="text" class="form-control" placeholder="Description" name="description">
                    </div>
                    <div class="form-group">
                        <label>Parent Order</label>
                        <select class="form-control input-sm" name="order_id">
                            <option value="">--select--</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
<!--                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fa fa-times mr-2"></i>Close</button>--}} -->
                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus-circle mr-2"></i>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}


{% endblock %}
