{% extends 'ROM/admin/layouts/admin_master.html' %}

{% load static %}

{% block content %}

<div class="container">

    <div class="col-lg-12 text-center my-3">

        <h3>{{object.name}}</h3>

    </div>

    <div class="row justify-content-center">

       
        <div class="col-lg-6 col-md-12 h-100 ">

            <div class="card h-100 border-0 shadow-sm">

                <div class="card-body h-100">

                    <h5>Order Details</h5>

                    <hr>

                    <p><strong>Order Name:</strong> {{object.service_category}}</p>

                    <p><strong>Customer Name:</strong> {{object.customer_id}}</p>

                    <p><strong>Customer Email:</strong> {{object.email}}</p>

                    <p><strong>phone number:</strong> {{object.phone_number}}</p>

                    <p><strong>Address:</strong> {{object.address}}</p>

                    <p><strong>City:</strong> {{order.city}}</p>

                    <p><strong>State:</strong> {{object.state}}</p>

                    <p><strong>zip:</strong> {{object.zip}}</p>

                    <p><strong>about:</strong> {{object.about}}</p>

                    <p><strong>home:</strong> {{object.status}}</p>

                    <p><strong>bedroom:</strong> {{object.bedroom}}</p>

                    <p><strong>sqrft:</strong> {{object.sqrft}}</p>

                    <p><strong>floors:</strong> {{object.floors}}</p>

                    <p><strong>occupants:</strong> {{object.occupants}}</p>

                    <p><strong>space:</strong> {{object.space}}</p>

                    <p><strong>pets:</strong> {{object.hasPets}}</p>

                    <p><strong>frequency:</strong> {{object.frequency}}</p>

                    <p><strong>Schedule Date:</strong> {{object.schedule}}</p>

                    <p><strong>Subject:</strong> {{object.subject}}</p>
                    <p><strong>Total:</strong> {{object.total}}</p>
         
                    <a href="{% url 'update_order' order.id %}"
                    class="btn btn-dark btn-sm">
                        <i class="fa fa-edit"></i> Edit Order 
                    </a>
                    <a href="{% url 'delete_order' order.id %}"
                        class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i> Delete Order
                    </a>

                    {% if "completed" not in  object.status %}

                    <form id="markAsCompleteForm">
                        {% csrf_token %}
                        <input type="hidden" value="{{order.id}}" name="order_id">
                        <button type="submit" class="btn btn-outline-dark btn-sm mt-2" id="btn_complete_{{order.id}}" tooltiptext="Mark as complete">
                            <i class="fas fa-check-circle"></i>  <span class="tooltiptext">Mark as complete</span>
                         </button>
                    </form>


                    {% endif %}
        
                </div>

                
            </div>

        </div>

    </div>

   
</div>


{% endblock %}


{% block scripts %}

<script>

    $(document).ready(function(){

        $("#markAsCompleteForm").on("submit", function(e){

            e.preventDefault()

            if(confirm("Confirm Order Completion")){
                markAsComplete();

            }

        });
    });

    
    function markAsComplete(){
    
    
    
    $.ajax({
        type: "POST",
        url: "{% url 'mark_as_complete' %}",
        dataType: "json",
        data:$("#markAsCompleteForm").serialize(),
        success:function(data){
        //     Changes order from pending to complete
    
        window.location.reload()
    
        },
        error: function(data){
    
            console.log(data);
            
            // Notiflix.Notify.Failure('Something went wrong.');
    
        }
    
    });
    }
    
    
    </script>



{% endblock %}


