{% extends 'ROM/admin/layouts/admin_master.html' %}

{% block content %}

<br>

<div class= "container mt-3">


        
    <div class="row my-5">
        <h5 class="text-dark">Service</h5>
        <button class="btn btn-dark ml-auto" data-toggle="modal"
        data-target="#paymentModal">
        <i class ="fa fa-plus" aria-hidden="true"> New Service </i>
        </button>
            
    </div>



        <div class="row">

            <div class="col">

                <div class="card card-body">

                    <table class= "table table-sm">

                        <tr>

                            <th>Category</th>
                            <th>Customer_id</th>
                            <th>Created_at</th>
                            <!-- <th>Update</th>
                            <th>Remove</th> -->

                        </tr>

                        {% for object in service %}

                            <tr>

                                <td>{{object.category}}</td>
                                <td>{{object.customer_id}}</td>
                                <td>{{object.created_at}}</td>
                            </tr>

                        
                        
                        {% endfor %}

                    </table>

                </div>

            </div>

        </div>

</div>



<!-- Modals -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">New service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                <!-- @method('POST') -->
                <!-- @csrf -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Payment Mode</label>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Enter the description (optional)</label>
                        <input type="text" class="form-control" placeholder="Description" name="description">
                    </div>
                    <div class="form-group">
                        <label>Parent Payment</label>
                        <select class="form-control input-sm" name="Payment_id">
                            <option value="">--select--</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
<!--                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fa fa-times mr-2"></i>Close</button>--}} -->
                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus-circle mr-2"></i>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}


