{% extends 'ROM/admin/layouts/admin_master.html' %}

{% block content %}

<div class= "container ">

    <div class="row  justify-content-end my-5">
        <div class="row my-5">
            <button class="btn btn-dark ml-auto" data-toggle="modal"
                data-target="#paymentModal">
                <i class ="fa fa-plus" aria-hidden="true"></i> New Service 
            </button>
        </div>  
                
    </div>

    



    <div class="row justify-content-center my-5">

        <div class="col-lg-12 ">


            <div class="card">
                
                <div class="card-body">

                    <div class="d-flex flex-row mb-3">
                        <h4 class="card-title">All Services</h4>
                    </div>

                    <table  class="table table-hover table-responsive-sm table-striped myTable">

                        <thead>
                            <tr>

                                <th>Category</th>
                                <th>Customer</th>
                                <th>Rating</th>
                                <th>Created_at</th>
                                <th>Update</th>
                                <th>Delete</th>
                                

                            </tr>
                        </thead>

                        

                       

                        <tbody>

                            {% for service in service %}

                            <tr>

                                <td>{{service.category}}</td>
                                <td>{{service.customer_id}}</td>
                                <td>{{service.rating}}</td>
                                <td>{{service.created_at}}</td>

                                <td><a class="btn btn-sm btn-outline-info"  href="{% url 'update_service' service.id %}"><i class="fa fa-pencil" aria-hidden="true"></i>Update </a></td>
                                <td><a class="btn btn-sm btn-outline-danger" href="{% url 'delete_service' service.id %}"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a></td>

                               
                                
                            </tr>

                            {% endfor %}


                        </tbody>

                            
                        
                        
                       

                    </table>

                </div>
            </div>

        

        </div>

    </div>

</div>



<!-- Modals -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title title" id="exampleModalLabel">New service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="" enctype="multipart/form-data">
                <!-- @method('POST') -->
                <!-- @csrf -->
                <div class="modal-body">
                    <div class="form-group">
                        <label>Payment Mode</label>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Enter the description (optional)</label>
                        <input type="text" class="form-control" placeholder="Description" name="description">
                    </div>
                    <div class="form-group">
                        <label>Parent Payment</label>
                        <select class="form-control input-sm" name="Payment_id">
                            <option value="">--select--</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
<!--                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="fa fa-times mr-2"></i>Close</button>--}} -->
                    <button type="submit" class="btn btn-dark"><i class="fa fa-plus-circle mr-2"></i>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}


