@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* nav trial */

* {
	/* outline: 1px solid rgba(255,0,0,0.15); */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  

  .container {
	max-width: 80%;
	margin: 0 auto;
	font-family: sans-serif;
  }
  
  
  .mobile-nav,
  .close-item {
	display: none;
  }
  .navbar {

	position:fixed;
	top: 0;
	width: 100%; 
	text-align: center;
	list-style: none;
	padding: 14px 16px;
	display:flex;
	background-color: #77ACF1;
  justify-content: space-between;

 
  }
  
  .nav .fa {
	margin-left: 5px;
  }
  .nav-item {
	position: relative;
  /* z-index: -1; */
	
  }
  .nav-link,
  .dp-link {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 14px 18px;
	transition: 0.25s;
  }
  .nav-item:hover,
  .nav-item .active {
	background-color:   #17a2b8;
  }

  /* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
	@media screen and (max-width: 600px) {
		.navbar, .navbar-right {
		float: none;
		display: block;
		}
  
	.topnav-centered a {
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: none;
	}
  }
  
  /* Dropdown Menu */
  .dp-menu {
	list-style: none;
	padding: 0;
	position: absolute;
	background-color: 3px solid   #17a2b8;
	z-index: 2;
  }
  .dp-item{
	position: relative;
  /* z-index: -1; */
  }
  .dp-item:hover,
  .dp-item:hover > .dp-link {
	background-color: #17a2b8;
  }
  
  .level-1 {
	display: none;
	background-color:  #17a2b8;
	width: 150px;
  }

  
  .nav-item:hover > .level-1 {
	display: block;
  }
  .dp-item:hover > .level-2 {
	display: block;
  }
  
  @media (max-width: 600px) {
	.mobile-nav {
	  display: block;
	  text-align: right;
	  padding: 10px 15px;
	  background-color: #77ACF1;
	}
	.mobile-btn {
	  color: #eee;
	  background-color: #666;
	  box-shadow: 0 0 6px rgba(0, 0, 0, 1);
	  border: none;
	  padding: 8px 18px;
	  border-radius: 5px;
	  font-size: 18px;
	  transition: 0.25s;
	}
	.mobile-btn:hover {
	  cursor: pointer;
	  background-color: #555;
	}
  
	.nav {
	  display: block;
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  overflow: auto;
	  top: 0;
	  transition: 0.25s;
	}
	#main-nav {
	  left: -100%;
	}
	li.close-item {
	  display: block;
	  padding: 20px 18px;
	  text-align: right;
	}
	.dp-menu {
	  width: 100%;
	  position: static;
	  border: none;
	}
	.level-1 > .dp-item > .dp-link {
	  padding-left: 28px;
	  background-color: #444;
	}
	.level-2 > .dp-item > .dp-link {
	  padding-left: 38px;
	  background-color: #555;
	}
	.dp-menu a:hover{
	  color: #ccc;
	}
	.fa-caret-right {
	  transform: rotate(90deg);
	}
  }
  
  
  /* description */
  #description{
	padding: 30px 20px;
  }
  #description h3{
	margin: 16px 0;
  }
  #description p{
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
	line-height: 1.4rem;
  }
  
  
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #7abecc;
  color: #fff;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;  
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #7abecc;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #4cb4c7;
  background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #7abecc;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #7abecc;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}


/* sidebar2 */

#sidebar2 {
  /* don't forget to add all the previously mentioned styles here too */
  background: #7abecc;
  color: #fff;
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;  
}
#sidebar2.active {
  margin-left: -250px;
}
#sidebar2 .sidebar-header {
  padding: 20px;
  background: #7abecc;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  #sidebar2 {
      margin-left: -250px;
  }
  #sidebar2.active {
      margin-left: 0;
  }
}
a[data-toggle="collapse"] {
  position: relative;
}

body{
    background: color #ebeff5;;
}
#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}


#orders-pending{
    background-color: #7CD1C0;
}


.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #f1f1f1;
}

/* review */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
/* body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(29, 28, 44);
} */

.review-container {
  width: 40%;
  background: #1f1e2f;
  color: #fff;
  margin: 2rem;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 2.5rem;
}
h2 {
  margin-bottom: 3rem;
}
.input-field {
  background: rgb(38, 37, 55);
  width: 100%;
  border: 1px solid #6f6c7c;
  padding: 0.85rem;
  border-radius: 5px;
}
.input-field input {
  border: none;
  background: transparent;
  outline: none;
  color: #8c8c9f;
  width: calc(100% - 3.2rem);
}
.input-field i,
.input-field input::placeholder {
  color: #6f6c7c;
}
.suggest {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.suggest span {
  background: #1f1e2f;
  padding: 0.65rem 1.3rem;
  border-radius: 5px;
  font-size: 0.65rem;
  color: #8c8c9f;
  text-transform: capitalize;
  cursor: pointer;
}
.suggest span:hover,
.suggest span:active {
  background: #8383ed;
  color: #fff;
}

.cards {
  margin-top: 2.5rem;
}
.cards .card {
  width: 100%;
  margin-bottom: 0.7rem;
  background: rgb(45, 43, 64);
  border-radius: 5px;
}
.card > * {
  padding: 1rem 1.2rem;
}
.card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.img {
  width: 50px;
  height: 50px;
  background: purple;
  border-radius: 50%;
  outline: none;
}
.name .one {
  background: #04009A;
}
.name,
.name .img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name .img {
  justify-content: center;
}
.rate i {
  color:#04009A;
}
.card-content {
  margin: 0;
  padding-top: 0;
}
.card-content p {
  font-size: 0.8rem;
  color: rgb(152, 152, 165);
}
.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-action span {
  font-size: 0.8rem;
  color: RGB(101, 101, 114);
}
.card-action .btn {
  padding: 0.3rem 0.7rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  color: #8c8c9f;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background: lightgray;
  color: #fff;
}

@media screen and (max-width: 750px) {
  body {
    padding: 0rem;
    margin: 0;
  }
  .review-container {
    /*     padding:0; */
    margin: 1rem 0;
    width: 75%;
  }
}

/* Testimonials */


/* offer cards */

section {
  padding: 5% 0;
}

.alizarin {
  background: #e74c3c;
}

.amethyst {
  background: #9b59b6;
}

.emerald {
  background: #2ecc71;
}

.midnight-blue {
  background: #2c3e50;
}

.peter-river {
  background: #3498db;
}

.dl {
  background: #f0f0f0;
  padding: 30px 0;
  border-radius: 20px;
  position: relative;
}

.dl:before {
  content: " ";
  height: 20px;
  width: 20px;
  background: #ddd;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 20px;
  margin-left: -10px;
}
  
.dl .brand {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  min-height: 100px; 
}

.dl .discount {
  min-height: 50px;
  position: relative;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;

  padding: 20px 15px 0;
  color: #f1c40f;
}

.dl .discount:after {
  content: " ";
  
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: 20%;
}

.dl .discount.alizarin:after {
  border-top: 20px solid #e74c3c;
}

.dl .discount.peter-river:after {
  border-top: 20px solid #3498db;
}

.dl .discount.emerald:after {
  border-top: 20px solid #2ecc71;
}

.dl .discount.amethyst:after {
  border-top: 20px solid #9b59b6;
}

.dl .discount .type {
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: -30px;
}

.dl .descr {
  color: #999;
  margin-top: 10px;
  padding: 20px 15px; 
}

.dl .ends {
  padding: 0 15px;
  color: #f1c40f;
  margin-bottom: 10px;
}

.dl .coupon {
  min-height: 50px;
  text-align: center;
  
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 15px;
}

.dl .coupon a.open-code {
  color: #16a085;
}

.dl .coupon .code {
  letter-spacing: 1px;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 15px;
  color: #f1c40f;
  background: #f0f0f0;
}
  
/* giftcard */



/* footer topscroll */

.footer {
    
  height: 100px;
	left: 0;
  bottom: 0;
  width: 100%;
	bottom: 0;
	width: 100%;
	text-align: center;
	}

.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #3EDBF0
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.height {
    height: 3000px
} 

#border{
    margin: 10px 0;
    padding: 5px;
    border: 2px solid #999;
}


pre {
    
	font: 1rem 'Fira Sans', sans-serif;
    margin: 0;
}

#regular {
    font-weight: bold;
}


/* carousel */

  #slider-container {
	height: 300px;
	width: 85vw;
	max-width: 1400px;
	/* background: #54d5e4; */
	position: relative;
	overflow: hidden;
	padding: 20px;
  }
  
  #slider-container .btn {
	position: absolute;
	top: calc(50% - 30px);
	height: 30px;
	width: 30px;
	border-left: 8px solid pink;
	border-top: 8px solid pink;
  }
  
  #slider-container .btn:hover {
	transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
	border-color: rgb(153, 121, 126)
  }
  
  #slider-container .btn:first-of-type {
	transform: rotate(-45deg);
	left: 10px
  }
  
  #slider-container .btn:last-of-type {
	transform: rotate(135deg);
	right: 10px;
  }
  
  #slider-container #slider {
	display: flex;
	width: 1000%;
	height: 100%; 
	transition: all .5s;
  }
  
  #slider-container #slider .slide {
	height: 90%;
	margin: auto 10px;
	background-color: lightgray;
	display: grid;
	place-items: center;
  }
  
  #slider-container #slider .slide span {
	color: white;
	font-size: 150px;
  }
  
  @media only screen and (min-width: 1100px) {
  
	#slider-container #slider .slide {
	  width: calc(2.5% - 20px);
	}
  
  }
  
  @media only screen and (max-width: 1100px) {
  
	#slider-container #slider .slide {
	  width: calc(3.3333333% - 20px);
	}
  
  }
  
  @media only screen and (max-width: 900px) {
  
	#slider-container #slider .slide {
	  width: calc(5% - 20px);
	}
  
  }
  
  @media only screen and (max-width: 550px) {
  
	#slider-container #slider .slide {
	  width: calc(10% - 20px);
	}
  
  }

/* rate card */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  /* .body {
	width: 100vw;
	height: 100vh;
	background: #322a70;
	display: flex;
	justify-content: center;
	align-items: center;
  }
   */
  .container {
	display: flex;
  }
  
  #quote_card {
	margin: 15px;
	padding-bottom: 30px;
	height: 400px;
	width: 240px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	transition: all 0.4s ease;
  }
  
  .hover-effect {
	width: 100%;
	height: 0%;
	border-radius: 0 0 80px 80px;
	background: #fff;
	position: absolute;
	transition: all 0.4s ease;  
  }
  
  .card:hover .hover-effect {
	background: #63c9eb;
	height: 75%;
  }
  
  .card:hover .price {
	color: #fff;
  }
  
  .type {
	letter-spacing: 2px;
	font-weight: 700;
	color: #fff;
	padding: 10px 30px;
	border-radius: 0 0 20px 20px;
	z-index: 2;
  }

  #type1{
	background: #63c9eb;

  }
	
   .price {
	font-weight: 700;
	color: #63c9eb;
	position: relative;
	z-index: 2;  
	transition: all 0.4 ease;
  }
  
  .price-currency {
	font-size: 1.2rem;
	position: absolute;
	top: 25px;
	left: -8px;
	pointer-events: none;
	z-index: 2;  
  }
  
  .price-value {
	pointer-events: none;
	z-index: 2;  
	font-size: 4rem;
  }
  
  .per-month {
	pointer-events: none;
	z-index: 2;  
	font-size: 1.5rem;
  }
  
  .chars {
	list-style: none;
	pointer-events: none;
	z-index: 2;  
	text-align: center;
  }
  
  .chars li {
	pointer-events: none;
	z-index: 2;  
	margin-bottom: 10px;
  }
  
  .num {
	pointer-events: none;
	z-index: 2;  
	font-weight: 700;
  }
  
  .order-btn {
	letter-spacing: 1px;
	z-index: 2;  
	font-weight: 700;
	text-align: center;
	color: #63c9eb;
	border: 3px solid #63c9eb;
	border-radius: 29px;
	background: #fff;
	
	width: 160px;
	height: 50px;
	cursor: pointer;
	transition: all 0.4s ease;
  }
  
  .order-btn:hover {
	background: #63c9eb;
	color: #fff;
  }

  /* contact button */

  #link {
    position: fixed;
    background-color: #3EDBF0;
    padding: 23px 40px;
    left: -79px;
    border-radius: 25px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(-90deg);
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .1s ease-in-out;
}

#link i {
    padding-left: 7px;
}

#link:hover {
    text-decoration: underline;
    background-color: black;
}

#ethic1{
	background-color:  #3EDBF0;
}

#ethic2{
	background-color:#F0EBCC;
}

#ethic3{
	background-color: #3EDBF0;
}



/* FAQ */


.faq-title h2 {
position: relative;
margin-bottom: 45px;
display: inline-block;
font-weight: 600;
line-height: 1;
}
.faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #1ee9e9;
  bottom: -25px;
  margin-left: -30px;
}
.faq-title p {
padding: 0 190px;
margin-bottom: 10px;
}

.faq {
background: #FFFFFF;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
border-radius: 4px;
}

.faq .card {

border: none;
background: none;
border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
padding: 0px;
border: none;
background: none;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: rgba(30, 220, 233, 0.1);
  padding-left: 10px;
}
.faq .card .card-header .faq-title {
width: 100%;
text-align: left;
padding: 0px;
padding-left: 30px;
padding-right: 30px;
font-weight: 400;
font-size: 15px;
letter-spacing: 1px;
color: #3B566E;
text-decoration: none !important;
-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
cursor: pointer;
padding-top: 20px;
padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
display: inline-block;
width: 20px;
height: 20px;
line-height: 14px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
text-align: center;
background: #1ee9e9;
color: #fff;
font-size: 12px;
margin-right: 20px;
}

.faq .card .card-body {
padding: 30px;
padding-left: 35px;
padding-bottom: 16px;
font-weight: 400;
font-size: 16px;
color: #6F8BA4;
line-height: 28px;
letter-spacing: 1px;
border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
margin-bottom: 14px;
}

@media (max-width: 991px) {
.faq {
  margin-bottom: 30px;
}
.faq .card .card-header .faq-title {
  line-height: 26px;
  margin-top: 10px;
}
}

/* 
.container-fluid{
  display: grid;
  grid-template-areas:
  "layout next next next"
  "layout next next next"
  "layout next next next" ;
  grid-template-columns: auto auto auto auto ;
  margin-top: 7px;
  grid-gap:10px;
  width: 70vw;
}

.layout{
 
  grid-area: layout;
}
.next{
  
  grid-area: next;
} */



