@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body{
    background: color #ebeff5;;
}
#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}


#orders-pending{
    background-color: #7CD1C0;
}


.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover {
  background-color: #f1f1f1;
}