<!DOCTYPE html>
{% load static %}
<html>

<head>


    <title></title>
   

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'owlcarousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'owlcarousel/assets/owl.theme.default.min.css' %}">
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
  
  <style>
    body{
        background-color: aliceblue;
    }
  </style>

  {% block css %}

  
  {% endblock css %}

</head>

<body>


    <!--Navigation Bar-->

    {% include 'ROM/frontend/layouts/nav_component.html' %}

    <!--End navigation Bar-->


    <!-- {% include 'ROM/frontend/layouts/learn_more.html' %} -->


    <div class="container-fluid mb-5 content">
      {% block content %}


      {% endblock content %}
    </div>

    <!-- Modal -->

      
      <button id="link" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@ROM">CONTACT US</button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="action_page.php">
          
              
                <label for="fname">Full Names</label>
                <input type="text" id="fname" name="firstname" class="form-control"  placeholder="Your name..">
  
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Phone</label>
                    <input type="phone" class="form-control" id="inputPhone" placeholder="Phone">
                  </div>
                </div>
               
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Message" class="form-control"  style="height:200px"></textarea>
            
                <input type="button" class="btn btn-info btn-lg btn-block"  value="Send">
            
              </form>
              
            </div>
            
          </div>
        </div>
      </div>


    <!-- end modal -->

    <!--Footer content-->
  
  {% include 'ROM/frontend/layouts/footer_component.html' %}
  
  <!--End Footer content-->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>

  <script>
      $(document).ready(function() {
      $(window).scroll(function() {
      if ($(this).scrollTop() > 20) {
      $('#toTopBtn').fadeIn();
      } else {
      $('#toTopBtn').fadeOut();
      }
      });

      $('#toTopBtn').click(function() {
      $("html, body").animate({
      scrollTop: 0
      }, 1000);
      return false;
      });
      });
  </script>

  <script>
    $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
            rtl:false,
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:4
                }
            }
            })
    });

        
  </script>

  <script>

        function toggleMenu(id) {
            console.log(id);
            let nav = document.getElementById("main-nav");
            if (id === 1) {
              nav.style.left = "0%";
            } else {
              nav.style.left = "-100%";
            }
        }

  </script>

  <script>
    // With MacOS press option + shift + k could print char: 
// But the char can't show on windows.
// Just use font-awesome instead.

        var btnBuy = document.getElementById('buy');
        var btnCheckout = document.getElementById('checkout');
        var card = document.querySelector('.giftcard');

        function showBack() {
          card.classList.add('show-back');
          card.classList.remove('show-front');
        }

        function showFront() {
          card.classList.remove('show-back');
          card.classList.add('show-front');
        }

        function showFX() {
          showBack();
          setTimeout(showFront, 3000);
        }

        var timer = null;
        var setTimer = function() {
          timer = setInterval(showFX, 8000);
        };
        var clearTimer = function() {
          clearInterval(timer);
          timer = null;
        };

        btnBuy.addEventListener('click', function() {
          showBack();
        });
        btnCheckout.addEventListener('click', function() {
          showFront();
        });

        card.addEventListener('mouseenter', function() {
          clearTimer();
        });
        card.addEventListener('mouseleave', function() {
          setTimer();
        });

        setTimeout(showFX, 2000);
        setTimer();



  </script>

  {% block scripts %}

  {% endblock %}
</body>
</html>