<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title></title>
   

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'owlcarousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'owlcarousel/assets/owl.theme.default.min.css' %}">


  <link rel="stylesheet" type="text/css" href="{% static 'css/notiflix.css' %}">

  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  
  
  <style>
    body{
        background-color: aliceblue;
    }
  </style>

  {% block css %}

  
  {% endblock css %}

</head>

<body>

  


    <!--Navigation Bar-->

    {% include 'ROM/frontend/layouts/nav_component.html' %}

    <!--End navigation Bar-->


    <!-- {% include 'ROM/frontend/layouts/learn_more.html' %} -->

    
      <div style="margin-top: 100px;"></div>
    <div class="container-fluid my-5 content">
      {% block content %}


      {% endblock content %}
    </div>

    <!-- Modal -->

      
      <button id="link" type="button" class="btn btn-info" ><a href="{% url 'quote' %}">BOOK NOW</a></button>

     

    <!-- end modal -->

    <!-- contact modal -->

    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#example-modal-lg" data-whatever="@ROM">CONTACT</button>
     -->

    <div class="modal fade example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="{% url 'create.inquiry' %}" method="post">

              {% csrf_token %}
              <h4 class="mb-4 mt-2 text-center">Talk to us. Here to serve you &#x1F60a; </h4>


              <div class="form-group">
                <label for="fname">Full Name</label>
                <input required type="text" id="fname" name="firstname" class="form-control"  placeholder="Your name..">
              </div>

              <div class="form-group">
                <label for="lname">Phone Number</label>
                <input type="number" id="lname" name="phone_number" class="form-control"  placeholder="Your phone number..">
              </div>

              <div class="form-group">
                <label for="email">Email address:</label>
                <input required type="email" name="email" class="form-control" id="email" placeholder="email">
              </div>

              <div class="form-group">

                <label for="subject">Subject</label>
                <textarea required id="subject" name="subject" placeholder="Message" class="form-control"  style="height:200px"></textarea>

              </div>
          
              <button type="submit" class="btn btn-info btn-lg btn-block w-50 mx-auto">Submit</button>
          
            </form>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-info">Send message</button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- end of modal -->


    
<!-- payment modal -->




<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                <div class="tabs mt-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"> <a class="nav-link active" id="visa-tab" data-toggle="tab" href="#visa" role="tab" aria-controls="visa" aria-selected="true"> <img src="https://i.imgur.com/sB4jftM.png" width="80"> </a> </li>
                        <li class="nav-item" role="presentation"> <a class="nav-link" id="paypal-tab" data-toggle="tab" href="#paypal" role="tab" aria-controls="paypal" aria-selected="false"> <img src="https://i.imgur.com/yK7EDD1.png" width="80"> </a> </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
                            <div class="mt-4 mx-4">
                                <div class="text-center">
                                    <h5>Credit card</h5>
                                </div>
                                <div class="form mt-3">
                                    <div class="inputbox"> <input type="text" name="name" class="form-control" required="required"> <span>Cardholder Name</span> </div>
                                    <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control" required="required"> <span>Card Number</span> <i class="fa fa-eye"></i> </div>
                                    <div class="d-flex flex-row">
                                        <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control" required="required"> <span>Expiration Date</span> </div>
                                        <div class="inputbox"> <input type="text" name="name" min="1" max="999" class="form-control" required="required"> <span>CVV</span> </div>
                                    </div>
                                    <div class="px-5 pay"> <button class="btn btn-success btn-block">Add card</button> </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
                            <div class="px-5 mt-5">
                                <div class="inputbox"> <input type="text" name="name" class="form-control" required="required"> <span>Paypal Email Address</span> </div>
                                <div class="pay px-5"> <button class="btn btn-primary btn-block">Add paypal</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- end payment modal -->

    

    <!--Footer content-->
  
  {% include 'ROM/frontend/layouts/footer_component.html' %}
  
  <!--End Footer content-->

  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>

  <script>
      $(document).ready(function() {
      $(window).scroll(function() {
      if ($(this).scrollTop() > 20) {
      $('#toTopBtn').fadeIn();
      } else {
      $('#toTopBtn').fadeOut();
      }
      });

      $('#toTopBtn').click(function() {
      $("html, body").animate({
      scrollTop: 0
      }, 1000);
      return false;
      });
      });
  </script>

  <script>
    $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
            rtl:false,
            loop:true,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:4
                }
            }
            })
    });

        
  </script>

  <script>

        function toggleMenu(id) {
            console.log(id);
            let nav = document.getElementById("main-nav");
            if (id === 1) {
              nav.style.left = "0%";
            } else {
              nav.style.left = "-100%";
            }
        }

  </script>

  <script>
    // With MacOS press option + shift + k could print char: 
// But the char can't show on windows.
// Just use font-awesome instead.

        var btnBuy = document.getElementById('buy');
        var btnCheckout = document.getElementById('checkout');
        var card = document.querySelector('.giftcard');

        function showBack() {
          card.classList.add('show-back');
          card.classList.remove('show-front');
        }

        function showFront() {
          card.classList.remove('show-back');
          card.classList.add('show-front');
        }

        function showFX() {
          showBack();
          setTimeout(showFront, 3000);
        }

        var timer = null;
        var setTimer = function() {
          timer = setInterval(showFX, 8000);
        };
        var clearTimer = function() {
          clearInterval(timer);
          timer = null;
        };

        btnBuy.addEventListener('click', function() {
          showBack();
        });
        btnCheckout.addEventListener('click', function() {
          showFront();
        });

        card.addEventListener('mouseenter', function() {
          clearTimer();
        });
        card.addEventListener('mouseleave', function() {
          setTimer();
        });

        setTimeout(showFX, 2000);
        setTimer();



  </script>

  <script>
        $(document).ready(function(){
      
      /* 1. Visualizing things on Hover - See next part for action on click */
      $('#stars li').on('mouseover', function(){
        var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
      
        // Now highlight all the stars that's not after the current hovered star
        $(this).parent().children('li.star').each(function(e){
          if (e < onStar) {
            $(this).addClass('hover');
          }
          else {
            $(this).removeClass('hover');
          }
        });
        
      }).on('mouseout', function(){
        $(this).parent().children('li.star').each(function(e){
          $(this).removeClass('hover');
        });
      });
      
      
      /* 2. Action to perform on click */
      $('#stars li').on('click', function(){
        var onStar = parseInt($(this).data('value'), 10); // The star currently selected
        var stars = $(this).parent().children('li.star');
        
        for (i = 0; i < stars.length; i++) {
          $(stars[i]).removeClass('selected');
        }
        
        for (i = 0; i < onStar; i++) {
          $(stars[i]).addClass('selected');
        }
        
        // JUST RESPONSE (Not needed)
        var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
        var msg = "";
        if (ratingValue > 1) {
            msg = "Thanks! You rated this " + ratingValue + " stars.";
        }
        else {
            msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
        }
        responseMessage(msg);

        $("#ratingInput").val(ratingValue)

        
      });
      
      
    });


    function responseMessage(msg) {
      // $('.success-box').fadeIn(200);  
      $('.success-box div.text-message').html("<span>" + msg + "</span>");
    }
 </script>

<script>

  $(document).ready(function(){
    $('a.page-scroll').bind('click', function(event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top,
      }, 500, 'linear');
      event.preventDefault();
      });

      var mn = $(".main-nav")

      $(window).scroll(function() {
      if( $(this).scrollTop() > 250 ) {
        mn.addClass("main-nav-scrolled");
      }
        else {
          mn.removeClass("main-nav-scrolled");
        }
    });
  });
</script>
  

  {% block scripts %}

  {% endblock %}
</body>
</html>