{% load static %}


<nav class="navbar navbar-expand-md navbar-light bg-light text-dark my-auto mx-auto">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BOOK ONLINE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">GET A QUOTE</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Regular</a>
            <a class="dropdown-item" href="#">Commercial Services</a>
            <a class="dropdown-item" href="#">Personalized Services</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Gift Cards</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">ABOUT US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">CONTACT </a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#"><i class="fa fa-phone" aria-hidden="true"></i>0725163354</a>
        </li>

      </ul>
      
    </div>
  </nav>