{% load static %}


<nav class="navbar navbar-expand-md navbar-light py-4 text-dark mx-auto" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">ROM

    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quote' %}">BOOK ONLINE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'quotte' %}">GET A QUOTE</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'offers' %}">OFFERS</a>
        </li> -->
                
        <li class=" nav-item">
          <a href="{% url 'services' %}" class="nav-link">
            SERVICES <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dp-menu level-1">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                Regular Service
              </a>
              
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">
                Commercial Service 
              </a>
              
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">Personalized services</a>
            </li>

            <li class="dp-item ">
              <a href="{% url 'gift_card' %}" class="dp-link ">Gift Cards/Offers</a>
            </li>
            
          </ul>

        </li>
        <li class="nav-item">
          <a href="#!" class="nav-link">
            ABOUT US <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dp-menu level-1">
            <li class="dp-item">
              <a href="#!" class="dp-link">
                Reviews
              </a>
            </li>
            <li class="dp-item">
              <a href="{% url 'story' %}" class="dp-link">
                Our Story
              </a>
            </li>
            <li class="dp-item">
              <a href="#!" class="dp-link">Our Cleaning Products</a>
            </li>

            <li class="dp-item ">
              <a href="{% url 'FAQ' %}" class="dp-link ">FAQ</a>
            </li>
            
          </ul>

        </li>
        <li class="nav-item">
            <a class="nav-link "  data-toggle="modal" data-target="#exampleModal" data-whatever="@ROM">CONTACT US
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="background: aqua;" href="tel:5554280940"><i class="fa fa-phone" aria-hidden="true"></i>CALL US NOW</a>
        </li>

      </ul>
      
    </div>
  </nav>