<nav id="sidebar2">
    
    <div class="sidebar-header text-dark">
        <h3 >ROM</h3>
    </div>

    <table class="table table-hover text-dark">
        <thead>
          <tr >
            <th scope="col">Days</th>
            <th scope="col">Hours</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Sunday</th>
            <td class="text-danger">Closed</td>
          </tr>
          <tr>
            <th scope="row">Monday</th>
            <td>8:30am-5:30pm</td>
          </tr>
          <tr>
            <th scope="row">Tuesday</th>
            <td>8:30am-5:30pm</td>
          </tr>

          <tr>
            <th scope="row">Wednesday</th>
            <td>8:30am-5:30pm</td>
          </tr>

          <tr>
            <th scope="row">Thursday</th>
            <td>8:30am-5:30pm</td>
          </tr>

          <tr>
            <th scope="row">Friday</th>
            <td>8:30am-5:30pm</td>
            
          </tr>

          <tr>
            <th scope="row">Saturday</th>
            <td>8:30am-5:30pm</td>
          </tr>
          
        </tbody>
      </table>

</nav>