<nav id="sidebar">
    
    <div class="sidebar-header ">
        <h3>ROM</h3>
    </div>

    <!-- <div class="sidebar">
        <a href="{% url 'dashboard' %}"><i class="fa fa-tachometer mr-2"></i>Dashboard</a>
        <a href=""><i class="fa fa-tag mr-2"></i>Service</a>
        <a href=""><i class="fa fa-users mr-2"></i>Customers</a>>
        <a href=""><i class="fa fa-bars mr-2"></i>Orders</a>
        <a href=""><i class="fa fa-credit-card-alt mr-2"></i>Payments</a>
        <a href=""><i class="fa fa-gift mr-2"></i>GiftCard</a>
        <a href=""><i class="fa fa-flash mr-2"></i>Offers</a>
        <a href=""><i class="fa fa-users mr-2"></i>Reviews</a>

    </div> -->

    <ul class="list-unstyled components">

        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-tachometer mr-2"></i>Dashboard</a>
        </li>
        <li>
            <a href=""><i class="fa fa-tag mr-2"></i>Service</a>
        </li>
        <li>
            <a href=""><i class="fa fa-users mr-2"></i>Customers</a>
        </li>
        
        <li>
            <a href=""><i class="fa fa-credit-card-alt mr-2"></i>Payments</a>
        </li>
        
        <li>
            <a href=""><i class="fa fa-gift mr-2"></i>GiftCard</a>
        </li> 

        <li>
            <a href=""><i class="fa fa-flash mr-2"></i>Offers</a>
        </li>
        
        <li>
            <a href=""><i class="fa fa-bars mr-2"></i>Orders</a>
        </li>
        <li>
            <a href=""><i class="fa fa-users mr-2"></i>Reviews</a>
        </li>
       
        
    </ul> 

        <!-- Page content -->
        <!-- <div class="content">

            {% include 'ROM/admin/dashboard.html' %}}
            
        </div> -->
</nav>