{% extends 'ROM/frontend/layouts/master.html' %}

{% load widget_tweaks %}

{% load static %}


{% block content %}

<div class="container">

    <h4 class="mt-5" >CHECKOUT</h4>

    <div class="row justify-content-center my-5">

        <div class="col-lg-8">

            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">1. ADDRESS DETAILS</h4>
        
                </div>
    
                <div class="card-body">

                    <form id="checkoutForm">
                        <div class="form-row">
                          <div class="col">
                            <label for="inputEmail4">Your name</label>

                            <input type="text" class="form-control" name="name" placeholder="Full name">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Your Email</label>
                            <input type="email" class="form-control" name="email" id="inputEmail4" placeholder="Email">
                          </div>
                        </div>
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputRegion">Region</label>
                              <select id="inputRegion" name="region" class="form-control">
                                <option selected>Select..</option>
                                <option>Kiambu</option>
                                <option>Juja</option>
                                <option>Thika</option>
                                <option>Eldoret</option>
                                <option>Bungoma</option>
                              </select>
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputCity">City</label>
                              <select id="inputCity" name="city" class="form-control">
                                <option selected>Select..</option>
                                <option>Nairobi</option>
                                <option>Kisumu</option>
                                <option>Mombasa</option>
                                <option>Nakuru</option>

                              </select>
                            </div>
                            <div class="form-group col-md-2">
                              <label for="inputZip">Zip</label>
                              <input type="text" name="zip" class="form-control" id="inputZip">
                            </div>
                          </div>

                </div>

            </div>

            <div class=" card">
                <div class= "card-header">
                    <h4 class="card-title">2. DELIVERY METHOD</h4>
                </div>
                <div class="card-body">
                        
                        
                        <fieldset class="form-group">
                          <div class="row">
                            
                            <div class="col-sm-10">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="delivery_method" id="gridRadios1" value="pick_up" checked>
                                <label class="form-check-label" for="gridRadios1">
                                 Pick Up Station
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="delivery_method" id="gridRadios2" value="delivery">
                                <label class="form-check-label" for="gridRadios2">
                                  Delivery to your home or office
                                </label>
                              </div>
                             
                            </div>
                          </div>
                          <div class="card mt-3">
                            <div class="card-header">
                                <h4 class="card-title"> SHIPMENT DETAILS</h4>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        </div>
                          
                </div>
            </div>



            <div class=" card">
                <div class= "card-header">
                    <h4 class="card-title">3. PAYMENT METHOD</h4>
                </div>
                <div class="card-body">

                    <h6>How do you want to pay for your order?</h6>
                    
                        <fieldset class="form-group">
                          <div class="row">
                            
                            <div class="col-sm-2">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentMode" id="gridRadios3" value="pay_now" checked>
                                <label class="form-check-label" for="gridRadios3">
                                 Pay Now
                                </label>
                              </div>
                              
                            </div>

                            <div class="col-sm-10">
                                <img class="footer-image mx-3 img-fluid" src="{% static 'kcb.png' %}" alt="KCB">
                                <img class="footer-image mx-3 img-fluid" src="{% static 'M-pesa.jpg' %}" alt="M-PESA">
                                <img class="footer-image mx-3 img-fluid" src="{% static 'airtel.png' %}" alt="Airtel">
                                <img class="footer-image mx-3 img-fluid" src="{% static 'visa.png' %}" alt="VISA">
                            </div>
                          </div>
                          <hr>

                          <div class="col-sm-10">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="paymentMode" id="gridRadios4" value="on_delivery" checked>
                              <label class="form-check-label" for="gridRadios4">
                               M-Pesa On Delivery
                              </label>
                            </div>
                            
                          </div>
                          <div class="col-sm-10">
                           
                            <img class="footer-image mx-4 img-fluid" src="{% static 'M-pesa.jpg' %}" alt="M-PESA">
                           
                          </div>
                          
                        </div>

                        <input type="text" name="total" value="{{total}}">

                      </form>

                      <form class="form-inline">
                        
                        <div class="form-group mx-sm-3 mb-2">
                          <label for="voucher" class="sr-only">Enter voucher code here</label>
                          <input type="password" class="form-control" id="voucher" name="voucher" placeholder="Enter voucher code here">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm mb-2">ADD VOUCHER</button>
                      </form>

                      <div class="col-sm-12">

                        
                                <h6>Total: 0.0</h6>
                                <h6>Discount: 0.0</h6>
                                <h6>Value Added Tax(VAT): 0.0</h6>
            
                                <hr>
           
                              

                        </div>

                        <div class="d-flex flex-row justify-content-end my-4">

                         <h4 class="font-weight-bold my-auto mr-2" id="grand_total">Grand Total: KES {{total}}</h4>

                          <button id="confirm_order" class="btn btn-primary mr-2">
                            CONFIRM ORDER
                          </button>

                        </div>
                

                    </div>
            
                </div>
            </div>

        </div>

        
    </div>

    <div class="col-lg-4">
      <div class="card">

          <div class="card-body">

              <h5 class="font-weight-bold">Summary</h5>
              <hr>

              <h6>Total: 0.0</h6>
              <h6>Discount: 0.0</h6>
              <h6>Value Added Tax(VAT): 0.0</h6>

              <hr>
              <h4 class="font-weight-bold mb-5" class="grand_total" id="grand_total">Grand Total: 0.0</h4>

               <div class="btn-group">
                  <button type="button" class="btn btn-light">CONTINUE SHOPPING</button>
                 
                </div>
                
          </div>
          
          </div>
      </div>
  </div>




</div>


    



{% endblock %}

{% block 'scripts' %}

<script>

$(document).ready(function(){
    

    $.ajaxSetup({
        headers:{
            'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
        }
    });

   
    });


  $('#confirm_order').on('click', function(){
  
    $.ajax({
        type: "POST",
        url: "{% url 'complete.checkout' %}",
        dataType: "json",
        data: $("#checkoutForm").serialize(),
        success: function(data){
            window.location.href = "/order/receipt/"+data['order']
        },
        error: function(data){
            console.log(data);
        }
    });
}
);

</script>

{% endblock %}



