{% extends 'ROM/frontend/layouts/master.html' %}

{% load static %}

{% load widget_tweaks %}

{% block css %}

<style>

    .bg1-image{
      background-image: url("https://cdn.pixabay.com/photo/2018/01/23/06/58/modern-minimalist-lounge-3100785__340.jpg");
      /* Full height */
      min-height: 15vh; 
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

{% endblock css %}

{% block content %}

<div class=" bg1-image row justify-content-md-center p-0 ">

    <h2 class="mt-3" style="letter-spacing:0.05em; text-align: center;">

      
        <span style="font-size: 4rem;" class="font-weight-bold  text-white mt-0">FREQUENTLY ASKED QUESTIONS</span>

    </h2>

</div>

<section class="faq-section">
    <div class="container">
      <div class="row justify-content-md-center">
                        <!-- ***** FAQ Start ***** -->
                        <div class="col-md-10 offset-md-5">
    
                            <div class="faq-title text-center pb-3">
                                <h2>FAQ</h2>
                            </div>
                        </div>
                        <div class="col-md-10 offset-md-5">
                            <div class="faq" id="accordion">
                                <div class="card">
                                    <div class="card-header" id="faqHeading-1">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                <span class="badge">1</span>What makes your company different from other cleaning services?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                There are many things that set ROM cleaning Service apart from the other services! One of the biggest aspects of our company is our customer service!
                                                 We believe that communication with a client is key to a healthy and long relationship.
                                                 We strive to meet our clients' needs and expectations, but sometimes mistakes happen or areas are missed. 
                                                 Our clients know that they can come to us anytime with questions, concerns, or comments and feel 100% comfortable with it. 
                                                
                                            </p>

                                            <p>
                                                We also bring all the cleaning supplies and products for the day leaving your supplies in the cabinet and untouched. 
                                                We believe that you should not have to pay for a service and also buy your own products,
                                                 plus we use Timshel Apothecary who handcrafts all of their products with completely natural, holistic, & simple ingredients! 
                                            </p>

                                            <P>
                                                Another key aspect of our company is our employee placement! Although we strive to have the same cleaner, 
                                                there may be some variability as is the nature of the industry.  All cleaners are background checked, thoroughly vetted and undergo a rigorous training period.
                                                 We also pay high wages & offer benefits for our team, something unheard of in this industry.
                                                  We feel it's important to know the company and personnel that come in and out of your home, and your comfort is our priority!
                                            </P>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-2">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                <span class="badge">2</span> What areas do you service?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                We are currently servicing neighborhoods in and around Jonesboro<a href="">See our service map here.</a> 
                                                Submit a quote and we will let you know if you do not live in our service area, though we are constantly growing and adding new neighborhoods! 
                                            </p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-3">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                <span class="badge">3</span>What if I am not satisfied with my cleaning?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                Communication is key! Please let us know within 24 hours of the problem at hand, 
                                                and we will arrange to re-clean the area in which you are dissatisfied as quickly as we can. 
                                                We have a client coordinator who is in constant contact with our clients and is available by phone and e-mail every day.
                                            </p>
                                            <p>
                                                Also, we will add this complaint in your file, and work to never miss it again 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-4">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                                <span class="badge">4</span> What forms of payment do you accept?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                        <div class="card-body">
                                            <p> We accept credit card payments, checks, and cash. Please note that we do charge a $30 fee for returned checks.
                                                You must have a credit card on file to schedule a cleaning. 

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-5">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                                <span class="badge">5</span> What's your cancellation policy?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                                        <div class="card-body">
                                            <p> You may cancel or reschedule 24 hours before your original Booking. Penalty Fee is 25% of the total cost.
                                                However,If proper notice is not given, we charge a 100% of the job. We also reserve the right to charge a cancellation fee to 
                                                jobs canceled while on-site (due to misinformation, 
                                                unforeseen circumstances, excessive mess, water/utilities not functioning, etc.)
                                            </p>

                                            <p>
                                                Our company and our team rely on the day to day income of scheduled cleanings.
                                                We are typically unable to book same day service, so if cancellations occur without notice,
                                                our team is without the expected income they planned to receive. We use our cancellation fees to help compensate our team for their time and travel. 
                                                If proper notice is given for a cancellation/reschedule, then that gives us the opportunity to replace the time slot with a different job.   
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-6">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-6" data-aria-expanded="false" data-aria-controls="faqCollapse-6">
                                                <span class="badge">6</span> What do I need to do before my cleaning?
                                        </div>
                                    </div>
                                    <div id="faqCollapse-6" class="collapse" aria-labelledby="faqHeading-6" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                This is an important question we often get. Our response is always the same, "we will clean as much as you allow us".
                                                 We do not fold clothes, move personal items, or move furniture. What is exposed will be cleaned. 
                                                 We also will not go behind closed doors to protect your privacy unless you specifically tell us that a certain door will be closed and needs to be cleaned. 
                                                 Our staff is also not permitted to climb up ladders or get on top of furniture. Items needing step ladders or other mechanisms to increase height will be skipped.
                                                 Communication is crucial alongside picking up and tidying up personal items for the team to do their jobs!
                                            </p>

                                            <p>
                                                We also do not clean dishes so please try and have them put away or in the dishwasher. 
                                                If you leave dishes in the sink we may skip the entire sink, some team members will remove 
                                                the dishes and clean the sink but we leave it up to their discretion.


                                                Please do NOT schedule other service people to be in your home working while we are scheduled
                                            </p>

                                            <p>
                                                                                                
                                                We also reserve the right to charge the cleaning fee if the cleaning is canceled while on site (due to misinformation, unforeseen circumstances,
                                                inability to access home, excessive mess, belongings such as toys, clothes, etc. not properly picked up, etc.). 
                                                We do not do onsite visits before scheduling jobs and therefore reserve the right to compensate ourselves if we do need to cancel. 
                                                If you feel that you need an onsite visit please let us know during the quote process! 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="faqHeading-7">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-7" data-aria-expanded="false" data-aria-controls="faqCollapse-7">
                                                <span class="badge">7</span>Do you change linens?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-7" class="collapse" aria-labelledby="faqHeading-7" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>We certainly do! The only thing we ask is that you place the clean linens on the bed. 
                                                We will put the dirty linens in your washer or hamper. Please remember that if the clean linens are not on the bed we will NOT change the bed. 

                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="faqHeading-8">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-8" data-aria-expanded="false" data-aria-controls="faqCollapse-8">
                                                <span class="badge">8</span>How many team members can I expect in my home during my cleaning?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-8" class="collapse" aria-labelledby="faqHeading-8" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>In most cases we will send between 1 and 3 team members, depending on your job. 
                                               Management may also sometimes perform Quality Checks to make sure the work is up to EFMS standards,
                                               to check in on staff in training, or to otherwise help out when needed. 
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="faqHeading-9">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-9" data-aria-expanded="false" data-aria-controls="faqCollapse-9">
                                                <span class="badge">9</span>Why did my service get canceled?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-9" class="collapse" aria-labelledby="faqHeading-9" data-parent="#accordion">
                                        <div class="card-body">
                                            <p> we encounter many different situations that we deal with daily. 
                                                We like to stress to our clients that we work with them, but not necessarily for them. 
                                                What this means is that we have the right to refuse any work, whether it be a new or an existing client.
                                                We try to offer the best, most customizable, & affordable service to our client. 
                                                Sometimes the situation is just not economical for us to work with, or comfortable for our staff.

                                            </p>

                                            <p>
                                              We believe that the client is responsible for proper communication, 
                                              providing the appropriate environment for us to work, and punctual compensation for work provided.
                                            </p>

                                            <p>
                                                
                                                We will always give as much notice as possible before canceling service with a client.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header" id="faqHeading-10">
                                        <div class="mb-0">
                                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-10" data-aria-expanded="false" data-aria-controls="faqCollapse-10">
                                                <span class="badge">10</span>Are my valuables safe with ROM cleaning Service?
                                            </h5>
                                        </div>
                                    </div>
                                    <div id="faqCollapse-10" class="collapse" aria-labelledby="faqHeading-10" data-parent="#accordion">
                                        <div class="card-body">
                                            <p> 
                                                If you have any special valuables, heirlooms, or irreplaceable items, please put them away or instruct us not to touch them.
                                                A closed door or drawer is your signal that you do not want that area cleaned.
                                                We take extreme care around your valuables, but mistakes can happen.
                                                 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    </section>


{% endblock %}