{% extends 'ROM/frontend/layouts/master.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

<div class="wrapper">
    <div class="giftcard">
      <div class="card">
        <div class="back">
          <section class="detail">
            <div class="list">
              <p class="title">Your order will be shipped to:</p>
              <p></p>
              <p class="name">Nick Chuan</p>
              <p class="addr">255 King St, Apt 338</p>
              <p class="addr">San Francisco, CA 94107</p>
              <p></p>
              <p class="tip">Available to ship: 1 business day</p>
            </div>
          </section>
          <section class="operation">
            <div class="gift">
              <div class="btn-fr">
                <div class="gmask"></div>
                <div class="frbelt"><span></span></div>
                <div class="bowknot"><span></span></div>
                <div class="knot"></div>
              </div>
            </div>
            <input class="msg" placeholder="Enter a gift message" />
            <div class="checkout">
              <button id="checkout">Checkout</button>
            </div>
          </section>
        </div>
        <div class="front">
          <section class="banner">
            <div class="logo-bg">
              <div class="wave">
                <div class="wave-bk"><span></span></div>
                <div class="wave-fr"><span></span></div>
              </div>
              <div class="logo apple"></div>
            </div>
          </section>
          <section class="info">
            <div class="list">
              <p class="title">Gift Card</p>
              <p class="price">$25.00</p>
            </div>
            <div class="buy">
              <div class="btn-bk">
                <div class="paper"></div>
                <div class="mask"></div>
              </div>
              <button id="buy">Buy</button>
              <div class="btn-fr">
                <div class="paper"><span></span></div>
                <div class="mask"></div>
                <div class="bkbelt"><span></span></div>
                <div class="gmask"></div>
                <div class="frbelt"><span></span></div>
                <div class="bowknot"><span></span></div>
                <div class="knot"></div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
 </div>


{% endblock %} 