{% extends 'ROM/frontend/layouts/master.html' %}


{% load static %}

{% load widget_tweaks %}

{% block css %}

  <style>

    /* #body {
        min-height: 100vh;
        background: url("https://images.unsplash.com/photo-1598125443421-779f98323fe4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-family: Roboto;
        font-size: 16px;
    } */
    .bg-image{

      background-image: url("https://images.unsplash.com/photo-1527515673510-8aa78ce21f9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhvdXNlJTIwY2xlYW5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
      min-height: 70vh;
      /* background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)),; */
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      border-radius: 15px;

    }
    .bg1-image{
      background-image: url("https://cdn.pixabay.com/photo/2018/01/23/06/58/modern-minimalist-lounge-3100785__340.jpg");
      min-height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      border-radius: 15px;
    }
    .rounded{
      border-radius: 15px;
    }

   
    

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.services-icon {
max-width: 100%;
height: auto;
}
span, a, a:hover {
display: inline-block;
text-decoration: none;
color: inherit;
}
.section-head {
margin-bottom: 60px;
}
.section-head h4 {
position: relative;
padding:0;
color:#3EDBF0;
line-height: 1;
letter-spacing:0.3px;
font-size: 34px;
font-weight: 700;  
text-align:center;
text-transform:none;
margin-bottom:30px;
}
.section-head h4:before {
content: '';
width: 60px;
height: 3px;
background: #3EDBF0;
position: absolute;
left: 0px;
bottom: -10px;
right:0;  
margin:0 auto;
}
.section-head h4 span {
font-weight: 700;
padding-bottom: 5px;
color:#2f2f2f
}
p.service_text{
color:#cccccc !important;
font-size:16px;
line-height:28px;
text-align:center;    
}
.section-head p, p.awesome_line{
color:#818181;
font-size:16px;
line-height:28px;
text-align:center;  
}

.extra-text {
font-size:34px;
font-weight: 700;
color:#2f2f2f;
margin-bottom: 25px;
position:relative;
text-transform: none;
}
.extra-text::before {
content: '';
width: 60px;
height: 3px;
background: #3EDBF0;
position: absolute;
left: 0px;
bottom: -10px;
right: 0;
margin: 0 auto;
}
.extra-text span {
font-weight: 700;
color:#3EDBF0;
}
.item {
background: #fff;
text-align: center;
padding: 30px 25px;
-webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
border-radius: 20px;
border:5px solid rgba(0, 0, 0, 0.07);
margin-bottom: 30px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover{
background:#3EDBF0;
box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover .item, .item:hover span.icon{
background:#fff;
border-radius:10px;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item:hover h6, .item:hover p{
color:#fff;
-webkit-transition: all .5s ease 0;
transition: all .5s ease 0;
transition: all 0.5s ease 0s;
}
.item .icon {
font-size: 40px;
margin-bottom:25px;
color: #3EDBF0;   
width: 90px;
height: 90px;
line-height: 96px;
border-radius: 50px;
}
.item .feature_box_col_one{
background:rgba(247, 198, 5, 0.20);
color:#3EDBF0
}
.item .feature_box_col_two{
background:rgba(255, 77, 28, 0.15);
color:#3EDBF0
}
.item .feature_box_col_three{
background:rgba(0, 147, 38, 0.15);
color:#3EDBF0
}
.item .feature_box_col_four{
background:rgba(0, 108, 255, 0.15);
color:#3EDBF0
}
.item .feature_box_col_five{
background:rgba(146, 39, 255, 0.15);
color:#3EDBF0
}
.item .feature_box_col_six{
background:rgba(23, 39, 246, 0.15);
color:#3EDBF0
}
.item p{
font-size:15px;
line-height:26px;
}
.item h6 {
margin-bottom:20px;
color:#2f2f2f;
}
.mission p {
margin-bottom: 10px;
font-size: 15px;
line-height: 28px;
font-weight: 500;
}
.mission i {
display: inline-block;
width: 50px;
height: 50px;
line-height: 50px;
text-align: center;
background: #3EDBF0;
border-radius: 50%;
color: #fff;
font-size: 25px;
}
.mission .small-text {
margin-left: 10px;
font-size: 13px;
color: #666;
}
.skills {
padding-top:0px;
}
.skills .prog-item {
margin-bottom: 25px;
}
.skills .prog-item:last-child {
margin-bottom: 0;
}
.skills .prog-item p {
font-weight: 500;
font-size: 15px;
margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
width: 100%;
height: 10px;
background: #e0e0e0;
border-radius:20px;
position: relative;
}
.skills .prog-item .skills-progress span {
position: absolute;
left: 0;
top: 0;
height: 100%;
background: #3EDBF0;
width: 10%;
border-radius: 10px;
-webkit-transition: all 1s;
transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
content: attr(data-value);
position: absolute;
top: -5px;
right: 0;
font-size: 10px;
font-weight:600;    
color: #fff;
background:rgba(0, 0, 0, 0.9);
padding: 3px 7px;
border-radius: 30px;
}
</style>
{% endblock css %}

{% block content %}


<div class="container-fluid mt-1" >

  <div class= " bg-image row justify-content-md-center" >


      <div class="col-lg-8 text-center d-flex flex-column justify-content-center">

        <h6 class="text-info text-center mb-0">ONE CALL CLEANS IT ALL</p>

        <h1 style="font-size: 5rem;" class="font-weight-bold mt-0">Cleaning spaces. Creating happy faces.</h1>


        <div class="d-flex flex-row justify-content-center">
          <a href="{% url 'quote' %}" class="btn btn-light btn-lg mx-2">BOOK ONLINE</a>

        <a href="{% url 'quotte' %}" class="btn btn-info btn-lg mx-2">GET A QUOTE</a>
        </div>
        
      </div>


  </div>

      

    <div class="row justify-content-center mt-5">
      <div class="col-lg-5 d-flex flex-column justify-content-center">

        <h3 class="text-info font-weight-bold">WELCOME TO ROM CLEANING SERVICES</h3>
        <p>
          ROM Cleaning Services is a veteran owned family business,dedicated to all your cleaning services.<br>
          Our mission is to provide the finest service possible to our clients while upholding our basic values:<br>

          Health, Growth, and Longevity are three words that come to mind while thinking about sustainability.<br>

          It's precious to have peace of mind in a clean and healthy house where <br>
          don't have to worry about toxic chemicals contaminating your family.<br>
          Fortunately, our local green maid service offers both affordable price and a fantastic experience for our customers.
        </p>

        <P>Our cleaning staff are committed to delivering value to our clients.
           Every cleaner at ROM cleaning services understands that your home requires a special treatment,
           thus our custom made cleaning services to suit the needs of our clients.
        </P>

      </div>

      <div class="col-lg-5">

        <img class="img-fluid rounded" style="object-fit: cover; height: 400px;"
        src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGhvdXNlJTIwY2xlYW5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"/>
        
      </div>
    </div>

    <div class="feat bg-gray pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="section-head col-sm-12">
            <h4><span>Why Choose</span> Us?</h4>
            <p>When you choose us, you'll feel the benefit of 10 years' experience of Web Development. Because we know the digital world and we know that how to handle it. With working knowledge of online, SEO and social media.</p>
          </div>
          <div class="col-lg-4 col-sm-6 d-flex flex-column align-content-stretch">
            <div class="item h-100"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
              <h6>Modern Design</h6>
              <p>We use latest technology for the latest world because we know the demand of peoples.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 d-flex flex-column align-content-stretch">
            <div class="item h-100"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
              <h6>Creative Design</h6>
              <p>We are always creative and and always lisen our costomers and we mix these two things and make beast design.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 d-flex flex-column align-content-stretch">
            <div class="item h-100"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
              <h6>24 x 7 User Support</h6>
              <p>If our customer has any problem and any query we are always happy to help then.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 d-flex flex-column align-content-stretch">
            <div class="item h-100"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
              <h6>Business Growth</h6>
              <p>Everyone wants to live on top of the mountain, but all the happiness and growth occurs while you're climbing it</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 d-flex flex-column align-content-stretch">
            <div class="item h-100"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
              <h6>Market Strategy</h6>
              <p>Holding back technology to preserve broken business models is like allowing blacksmiths to veto the internal combustion engine in order to protect their horseshoes.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 d-flex flex-column align-content-stretch">
            <div class="item h-100"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
              <h6>Affordable cost</h6>
              <p>Love is a special word, and I use it only when I mean it. You say the word too much and it becomes cheap.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

      <div class="row justify-content-center  ">
        <div class= "col-lg-6  d-flex flex-column justify-content-center" >
          <h2 class="mt-5 text-center">Our Service Area</h2>
          <!-- <p class="text-center">SERVING THE GREATER ATLANTA AREA <br> </p> -->

          <div id="content" class="container-fluid">

            {% include 'ROM/frontend/map.html' %}
      
          </div>
    
        </div>

        <div class="col-lg-5  d-flex flex-column justify-content-center">

          <h2 class="mt-5 text-center">Our Locations</h2>
          <p class="text-center">SERVING THE GREATER ATLANTA AREA <br> </p>
          <p class="text-center">110 laver De ave. Unit G&I,</p>
          <p class="text-center">Atlanta, GA 30306</p>

          <br>

          <p class="text-center">Open Monday through Saturday </p>
          <p class="text-center">8:30 AM - 5:30 PM</p>

          <br>

          <p class="text-center">600.765.3459</p>

          <div class="row justify-content-md-center">

            <a href= " https://www.facebook.com">
              <i class="fa fa-facebook-square fa-3x  mx-3 hover-transform"></i>
            </a>
              
            <a href= "https://www.twitter.com">
                <i class="fa fa-twitter-square fa-3x  mx-3 hover-transform"></i>
            </a>
                  
            <a href= " https://www.fa-instagram.com">
                <i class="fa fa-instagram fa-3x   mx-3 hover-transform"></i>
            </a>
  

          </div>

          
          
          
        </div>
        
        

      <!-- Testimonials -->
 
    
  
      <div class="row justify-content-center mt-5  h-100">

        <div class="col-md-3 d-flex flex-column justify-content-center">
  
          <figure class="bg-light pl-1 p-4" style="border-left: .35rem solid #5cb0de; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fa fa-quote-left fa-2x mb-4" style="color: #5cb0de;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              {{customer.name}}
            </figcaption>
          </figure>
  
        </div>


        <div class="col-md-3 d-flex flex-column justify-content-center ">
  
          <figure class="bg-light pl-1 p-4" style="border-left: .35rem solid #5cb0de; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fa fa-quote-left fa-2x mb-4" style="color: #5cb0de;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              Travis
            </figcaption>
          </figure>
  
        </div>



        <div class="col-md-3 d-flex flex-column justify-content-center ">
  
          <figure class="bg-light pl-1 p-4" style="border-left: .35rem solid #5cb0de; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fa fa-quote-left fa-2x mb-4" style="color: #5cb0de;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              {{customer.name}} 
            </figcaption>
          </figure>
  
        </div>
      </div>

      <div class="row justify-content-center mt-0">
        <div class= "col-lg-5 d-flex flex-column justify-content-center">

          <img class="img-fluid" src="{% static 'images/bedroom.jpg' %}" style="width:100%; height:100%;" alt="Image">


        </div>

        <div class= "col-lg-5 d-flex flex-column justify-content-center">

          <div class="card card-body">

            <form action="#">
          
              
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" class="form-control"  placeholder="Your name..">

              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" class="form-control"  placeholder="Your last name..">
  
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" placeholder="email">
             
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Message" class="form-control"  style="height:200px"></textarea>
          
              <input type="button" class="btn btn-info btn-lg btn-block"  style="background: #3EDBF0 ;" value="Submit">
          
            </form>

          </div>
          
        </div>

      </div>
      
    </div>
    
  

</div>

{% endblock %}
