{% extends 'ROM/frontend/layouts/master.html' %}


{% load static %}

{% load widget_tweaks %}

{% block css %}

  <style>

    /* #body {
        min-height: 100vh;
        background: url("https://images.unsplash.com/photo-1598125443421-779f98323fe4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-family: Roboto;
        font-size: 16px;
    } */
    .bg-image{

      background-image: url("https://images.unsplash.com/photo-1527515673510-8aa78ce21f9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGhvdXNlJTIwY2xlYW5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
      min-height: 70vh;
      /* background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)),; */
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      border-radius: 15px;

    }
    .bg1-image{
      background-image: url("https://cdn.pixabay.com/photo/2018/01/23/06/58/modern-minimalist-lounge-3100785__340.jpg");
      min-height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-family: Roboto;
      font-size: 16px;
      border-radius: 15px;
    }
  </style>
  
  {% endblock css %}

{% block content %}


<div class="container-fluid mt-1" >

  <div class= " bg-image row justify-content-md-center" >


      <div class="col-lg-8 text-center d-flex flex-column justify-content-center">

        <h6 class="text-info text-center mb-0">ONE CALL CLEANS IT ALL</p>

        <h1 style="font-size: 5rem;" class="font-weight-bold mt-0">Cleaning spaces. Creating happy faces.</h1>


        <div class="d-flex flex-row justify-content-center">
          <a href="{% url 'quote' %}" class="btn btn-light btn-lg mx-2">BOOK ONLINE</a>

        <a href="{% url 'quotte' %}" class="btn btn-info btn-lg mx-2">GET A QUOTE</a>
        </div>
        
      </div>


  </div>

      

    <div class="row justify-content-center mt-5">
      <div class="col-lg-5 d-flex flex-column justify-content-center">

        <h3 class="text-info font-weight-bold">WELCOME TO ROM CLEANING SERVICES</h3>
        <p>
          ROM Cleaning Services is a veteran owned family business,dedicated to all your cleaning services.<br>
          Our mission is to provide the finest service possible to our clients while upholding our basic values:<br>

          Health, Growth, and Longevity are three words that come to mind while thinking about sustainability.<br>

          It's precious to have peace of mind in a clean and healthy house where <br>
          don't have to worry about toxic chemicals contaminating your family.<br>
          Fortunately, our local green maid service offers both affordable price and a fantastic experience for our customers.
        </p>

        <P>Our cleaning staff are committed to delivering value to our clients.
           Every cleaner at ROM cleaning services understands that your home requires a special treatment,
           thus our custom made cleaning services to suit the needs of our clients.
        </P>

      </div>

      <div class="col-lg-5">

        <img class="img-fluid rounded" style="object-fit: cover; height: 400px;"
        src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGhvdXNlJTIwY2xlYW5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"/>
        
      </div>
    </div>

      <div class= "bg1-image row py-5 justify-content-md-center align-items-start">


            <h2 class="text-center text-dark"> WHY CHOOSE ROM CLEANING SERVICES?</h2>

        
              <p class="text-dark" >We are concerned about your family's and your home's safety.
                This drives us to ensure that our cleaners' honesty and moral conduct are never a source of concern for you.
                
                Furthermore, we carefully vet our cleaners to ensure we provide the right person and we have kept our prices very affordable.
              </p>
  

            
            <div class="col-lg-3">
              <div class="icon-wrap">
                <img 
                src="https://cdn-icons.flaticon.com/png/128/2058/premium/2058432.png?token=exp=1643887282~hmac=6c66dd7d66bce0d1e7f7dc443212b35c"/>
                

              </div>
              <h3>YOUR TRUST AND SECURITY IS OUR PRIORITY</h3>
              <p class="text-dark">We are concerned about your family's and your home's safety. 
                This drives us to ensure that our cleaners' honesty and moral conduct are never a source of concern for you.
              </p>
            </div>
            
            <div class="col-lg-3">
              <div class="icon-wrap">
                <img 
                src="https://cdn-icons.flaticon.com/png/128/2058/premium/2058432.png?token=exp=1643887282~hmac=6c66dd7d66bce0d1e7f7dc443212b35c"/>
                

              </div>
              <h3>YOUR TRUST AND SECURITY IS OUR PRIORITY</h3>
              <p class="text-dark">We are concerned about your family's and your home's safety. 
                This drives us to ensure that our cleaners' honesty and moral conduct are never a source of concern for you.
              </p>
            </div>

            <div class="col-lg-3">
              <div class="icon-wrap">
                <img class="img-fluid " style="max-width: 100; vertical-align: middle; border: 0;" 
                src="https://cdn-icons.flaticon.com/png/128/2058/premium/2058432.png?token=exp=1643887282~hmac=6c66dd7d66bce0d1e7f7dc443212b35c"/>
                

              </div>
              <h3>YOUR TRUST AND SECURITY IS OUR PRIORITY</h3>
              <p class="text-dark">We are concerned about your family's and your home's safety. 
                This drives us to ensure that our cleaners' honesty and moral conduct are never a source of concern for you.
              </p>
            </div>

            <div class="col-lg-3">
              <div class="icon-wrap">
                <img 
                src="https://cdn-icons.flaticon.com/png/128/2058/premium/2058432.png?token=exp=1643887282~hmac=6c66dd7d66bce0d1e7f7dc443212b35c"/>
                

              </div>
              <h3>YOUR TRUST AND SECURITY IS OUR PRIORITY</h3>
              <p class="text-dark">We are concerned about your family's and your home's safety. 
                This drives us to ensure that our cleaners' honesty and moral conduct are never a source of concern for you.
              </p>
            </div>

      
      </div> 

      <div class="row justify-content-center  ">
        <div class= "col-lg-5  d-flex flex-column justify-content-center" >
          <h2 class="mt-5 text-center">Our Locations</h2>
          <p class="text-center">SERVING THE GREATER ATLANTA AREA <br> </p>

          <div id="content" class="container-fluid">

            {% include 'ROM/frontend/map.html' %}
      
          </div>
    
        </div>

        <div class="col-lg-5  d-flex flex-column justify-content-center">

          <img class="img-fluid rounded" style="object-fit: cover; height: 400px;"
          src="https://images.unsplash.com/photo-1505691938895-1758d7feb511?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGhvdXNlJTIwY2xlYW5pbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"/>
          
        </div>
        
        

      <!-- Testimonials -->
 
    
  
      <div class="row justify-content-center mt-5  h-100">

        <div class="col-md-3 d-flex flex-column justify-content-center">
  
          <figure class="bg-light pl-1 p-4" style="border-left: .35rem solid #5cb0de; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fa fa-quote-left fa-2x mb-4" style="color: #5cb0de;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              {{customer.name}}
            </figcaption>
          </figure>
  
        </div>


        <div class="col-md-3 d-flex flex-column justify-content-center ">
  
          <figure class="bg-light pl-1 p-4" style="border-left: .35rem solid #5cb0de; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fa fa-quote-left fa-2x mb-4" style="color: #5cb0de;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              Travis
            </figcaption>
          </figure>
  
        </div>



        <div class="col-md-3 d-flex flex-column justify-content-center ">
  
          <figure class="bg-light pl-1 p-4" style="border-left: .35rem solid #5cb0de; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fa fa-quote-left fa-2x mb-4" style="color: #5cb0de;"></i>
            <blockquote class="blockquote pb-2">
              <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
              </p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              {{customer.name}} 
            </figcaption>
          </figure>
  
        </div>
      </div>

      <div class="row justify-content-center mt-0">
        <div class= "col-lg-5 d-flex flex-column justify-content-center">

          <img class="img-fluid" src="{% static 'images/bedroom.jpg' %}" style="width:100%; height:100%;" alt="Image">


        </div>

        <div class= "col-lg-5 d-flex flex-column justify-content-center">

          <div class="card card-body">

            <form action="action_page.php">
          
              
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" class="form-control"  placeholder="Your name..">

              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" class="form-control"  placeholder="Your last name..">
  
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" placeholder="email">
             
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Message" class="form-control"  style="height:200px"></textarea>
          
              <input type="button" class="btn btn-info btn-lg btn-block"  style="background: #3EDBF0 ;" value="Submit">
          
            </form>

          </div>
          
        </div>

      </div>
      
    </div>
    
  

</div>

{% endblock %}
