{% extends 'ROM/frontend/layouts/master.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-md-center bg-info">
        <h3 class="text-center">GET TO KNOW US</h3>
    </div>

    <div class="row">
        <div class="col-md-5 pl-0 ">
            <img class="img-fluid" src="{% static 'images/dinning.jpg' %}" style="width:100%;" alt="Image">
  
        </div>
  
        <div class="col-md-7">
  
            <p>Eco-Friendly Maid Service is a GREEN cleaning alternative for residential & commercial spaces.
               Our goal is to offer our clients the best service possible while maintaining our core values:
                Health, Growth, & Sustainability.
              
              </p>
  
        </div> 
    </div>

    <div class="row justify-content-md-center" style="text-align: center; display: block;">
        <h2  style="letter-spacing:0.05em; text-align: center;">

            <span style="font-size: 48px;"></span>
            <span style="letter-spacing:0.05em;">OUR CORE VALUES</span>

        </h2>
       <div >
           <h2>Health</h2>
        <P style="text-align: center;" >The health of our organization, our team, and our clients is extremely important to all of us at EFMS. 
            We value each team member, we make decisions together, & we share in the profits that we yield. 
            Each team member is trained to work efficiently and with great detail to ensure that we remain a healthy company.
            We also show our support and appreciation for our team members by offering reimbursements for chiropractic, massage, 
            and yoga sessions! We believe in maintaining a healthy relationship with our clients by creating an
            environment for them to feel comfortable to come to us about their services with EFMS. 
            We understand that we are in your sanctuary and will always treat it with the utmost respect and detail in cleaning.
            We live in a world that is completely out of balance with nature, and for this reason,
             we make it possible to provide our clients with a simple and organic cleaning process.
        </P>
       </div>
       <div >
        <h2>Health</h2>
        <P>The health of our organization, our team, and our clients is extremely important to all of us at EFMS. 
            We value each team member, we make decisions together, & we share in the profits that we yield. 
            Each team member is trained to work efficiently and with great detail to ensure that we remain a healthy company.
            We also show our support and appreciation for our team members by offering reimbursements for chiropractic, massage, 
            and yoga sessions! We believe in maintaining a healthy relationship with our clients by creating an
            environment for them to feel comfortable to come to us about their services with EFMS. 
            We understand that we are in your sanctuary and will always treat it with the utmost respect and detail in cleaning.
            We live in a world that is completely out of balance with nature, and for this reason,
             we make it possible to provide our clients with a simple and organic cleaning process.
        </P>
       </div>
       <div >
        <h2>Health</h2>
        <P>The health of our organization, our team, and our clients is extremely important to all of us at EFMS. 
            We value each team member, we make decisions together, & we share in the profits that we yield. 
            Each team member is trained to work efficiently and with great detail to ensure that we remain a healthy company.
            We also show our support and appreciation for our team members by offering reimbursements for chiropractic, massage, 
            and yoga sessions! We believe in maintaining a healthy relationship with our clients by creating an
            environment for them to feel comfortable to come to us about their services with EFMS. 
            We understand that we are in your sanctuary and will always treat it with the utmost respect and detail in cleaning.
            We live in a world that is completely out of balance with nature, and for this reason,
             we make it possible to provide our clients with a simple and organic cleaning process.
        </P>
       </div>
       <div >
        <h2>Health</h2>
        <P>The health of our organization, our team, and our clients is extremely important to all of us at EFMS. 
            We value each team member, we make decisions together, & we share in the profits that we yield. 
            Each team member is trained to work efficiently and with great detail to ensure that we remain a healthy company.
            We also show our support and appreciation for our team members by offering reimbursements for chiropractic, massage, 
            and yoga sessions! We believe in maintaining a healthy relationship with our clients by creating an
            environment for them to feel comfortable to come to us about their services with EFMS. 
            We understand that we are in your sanctuary and will always treat it with the utmost respect and detail in cleaning.
            We live in a world that is completely out of balance with nature, and for this reason,
             we make it possible to provide our clients with a simple and organic cleaning process.
        </P>
       </div>
       <div >
        <h2>Health</h2>
        <P>The health of our organization, our team, and our clients is extremely important to all of us at EFMS. 
            We value each team member, we make decisions together, & we share in the profits that we yield. 
            Each team member is trained to work efficiently and with great detail to ensure that we remain a healthy company.
            We also show our support and appreciation for our team members by offering reimbursements for chiropractic, massage, 
            and yoga sessions! We believe in maintaining a healthy relationship with our clients by creating an
            environment for them to feel comfortable to come to us about their services with EFMS. 
            We understand that we are in your sanctuary and will always treat it with the utmost respect and detail in cleaning.
            We live in a world that is completely out of balance with nature, and for this reason,
             we make it possible to provide our clients with a simple and organic cleaning process.
        </P>
       </div>
    </div>

    <div class="row justify-content-md-center p-0 bg-info">

        <h2  style="letter-spacing:0.05em; text-align: center;">

            <span style="font-size: 48px;"></span>
            <span style="letter-spacing:0.05em;">OUR CODE OF ETHICS</span>

        </h2>

    </div>

    
    <div class="row justify-content-center h-100">

        

        <div id="ethic1" class="col-md-4 ">

            <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
            </p>
  
        </div>

        <div id="ethic2" class="col-md-4 ">


            <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
            </p>
  
        </div>

        <div id="ethic3" class="col-md-4 ">

       

            <p>
                Your time is limited, so don't waste it living someone else's life. 
                Don't be trapped by dogma - which is living with the results of other people's thinking. 
                Don't let the noise of others' opinions drown out your own inner voice. 
                And most important, have the courage to follow your heart and intuition.
            </p>
  
        </div>

    </div>



</div>


{% endblock %}