{% extends 'ROM/frontend/layouts/master.html' %}

{% load widget_tweaks %}


{% block content %}

<!-- <div >

          
  {% include 'ROM/frontend/layouts/sidebar.html' %}
  
</div>  -->




<div class="row mt-1">

  <div class=" col-sm-12 p-0">

    <h4 class="text-center">Home Cleaning Prices</h4>

   <p class=" text-center mt-1"> Prices are based on your actual square footage of Home/Apartment and our standard cleaning service rates.<br>
    Additional fees will apply for additional services!<br>
     NOTE! for business bookings kindly contact via <a href="">Email here </a> or calling us <i class="fa fa-phone" aria-hidden="true">0725163354</i>
  </p>

  </div>

</div>

 <div class="container p-0">

    <div class="row">
      <div class="col-lg-3">
        
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">studio <br>under 1000sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">150</span>
            
          </div>
          <p> Estimated time 4hours</p>
          
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
        </div>

    </div>

    <div class="col-lg-3">
        
        
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1" >Home or Apartment 1001-1500sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">180</span>
          
        </div>
        <p> Estimated time 4hours</p>
        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
      </div>

    </div>

      <div class="col-lg-3">
      
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">Home or Apartment 1501-2000sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">210</span>
            
          </div>
          <p> Estimated time 4hours</p>
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
        </div>

      </div>

      <div class="col-lg-3">
      
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">Home or Apartment 2001-2500sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">240</span>
            
          </div>
          <p> Estimated time 4hours</p>
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
         </div>
      </div>
      
    </div>

</div>


<div class="container p-0">

  <div class="row">
    <div class="col-lg-3">
      
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">Home or Apartment 2501-3000sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">270</span>
            
          </div>
          <p> Estimated time 4hours</p>
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
      </div>
  </div>
  <div class="col-lg-3">
      
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1">Home or Apartment 3001-3500sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">300</span>
          
        </div>
        <p> Estimated time 4hours</p>
        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
    </div>
  </div>
    <div class="col-lg-3">
      
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">Home or Apartment 3501-4000sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">330</span>
            
          </div>
          <p> Estimated time 4hours</p>
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
      </div>
    </div>

    <div class="col-lg-3">
    
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">Home or Apartment 4001-4500sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">370</span>
            
          </div>
          <p> Estimated time 4hours</p>
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
      </div>

    </div>

  </div>

</div>


<div class="container p-0">

  <div class="row">
    <div class="col-lg-3">
      
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1">Home or Apartment 4501-5000sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">400</span>
          
        </div>
        <p> Estimated time 4hours</p>
        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
    </div>
  </div>
  <div class="col-lg-3">
      
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1">Home or Apartment 5001-5500sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">430</span>
          
        </div>
        <p> Estimated time 4hours</p>
        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
    </div>
  </div>
    <div class="col-lg-3">
    
          <div class="card" id="quote_card">
            <div class="hover-effect"></div>
            <div class="type" id= "type1">Home or Apartment 5501-6000sqft</div>
            <div class="price">
              <span class="price-currency">$</span>
              <span class="price-value">470</span>
              
            </div>
            <p> Estimated time 4hours</p>
            <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
        </div>

    </div>

    <div class="col-lg-3">
        
        <div class="card" id="quote_card">
          <div class="hover-effect"></div>
          <div class="type" id= "type1">Home or Apartment 6001-6500sqft</div>
          <div class="price">
            <span class="price-currency">$</span>
            <span class="price-value">500</span>
            
          </div>
          <p> Estimated time 4hours</p>
          <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
      </div>
    </div>

  </div>

</div>

<div class="container p-0">

  <div class="row">
    <div class="col-lg-3">
      
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1">Home or Apartment 6501-7000sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">530</span>
          
        </div>
        <p> Estimated time 4hours</p>
        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
    </div>
  </div>
  <div class="col-lg-3">
      
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1">Home or Apartment 7001-7500sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">556</span>
          
        </div>
        <p> Estimated time 4hours</p>
        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
    </div>
  </div>
    <div class="col-lg-3">
    
      <div class="card" id="quote_card">
        <div class="hover-effect"></div>
        <div class="type" id= "type1">Home or Apartment 7501-8000sqft</div>
        <div class="price">
          <span class="price-currency">$</span>
          <span class="price-value">573</span>
          
        </div>
        <p> Estimated time 4hours</p>

        <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
      </div>

    </div>

    <div class="col-lg-3">
    
          <div class="card" id="quote_card">
            <div class="hover-effect"></div>
            <div class="type" id= "type1">Home or Apartment 8001-8500sqft</div>
            <div class="price">
              <span class="price-currency">$</span>
              <span class="price-value">589</span>
              
            </div>
            <p> Estimated time 4hours</p>

            <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
          </div>

    </div>
  </div>


</div>

<!-- other services prices -->


<div class="row mt-1">

  <div class=" col-sm-12 p-0">
    <h4 class="text-center">Optional Add On Services</h4>
  </div>

</div>

<div class="container p-0 owl-carousel mt-4">

  <!-- <div class="col-lg-3 d-flex flex-column justify-content-center align-content-center">

    <div class="card item_rounded h-100">
      <div class="card-body">

        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
       src="https://media.istockphoto.com/photos/woman-cleaning-a-door-handle-with-a-disinfection-spray-picture-id1213532970?b=1&k=20&m=1213532970&s=170667a&w=0&h=o3zLvtp6ZJ476lwP-wNKLMnR5oQXOQGaIkEskzODni0="/>

      </div>

      <h6></h6>
    </div>
  </div> -->
  
    
    
  <div class="card" id="quote_card">
    <div class="hover-effect"></div>
    <div class="type" id= "type1">Microwave cleaning</div>
    <div>
      <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
      src="https://media.istockphoto.com/photos/woman-hand-cleaning-microwave-oven-with-sponge-picture-id1156685272?b=1&k=20&m=1156685272&s=170667a&w=0&h=P_VjlUtdxH3-vrnfLrvIw-KHomqP-lzId4-bzF9LPhw="/>

      
    </div>
    <p> $ 40 ea</p>
    <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
  </div>
  
  <div class="card" id="quote_card">
      <div class="hover-effect"></div>
      <div class="type" id= "type1">Interior oven cleaning  </div>
      <div >
        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
        src="https://media.istockphoto.com/photos/african-woman-cleaning-in-the-kitchen-picture-id469671318?b=1&k=20&m=469671318&s=170667a&w=0&h=ULCD_DGsJJZTnYOnLRZl_SMkpIbSeH8VDKjF8A6TSeA="/>
  
      </div>
    
      <p> $ 40 ea</p>
      <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
  </div>

  <div class="card" id="quote_card">
      <div class="hover-effect"></div>
      <div class="type" id= "type1">Interior refrigirator excludes freezer</div>
      <div class="price">
        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
       src="https://media.istockphoto.com/photos/woman-cleans-up-the-shelves-in-the-fridge-with-pink-cloth-picture-id1156890021?b=1&k=20&m=1156890021&s=170667a&w=0&h=_gt5UelX-KucYfioKGdm45njCNFB34W3LKfrmrEHPk0="/>

        
      </div>
      <p> $ 45 ea</p>
      <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
  </div>

  <div class="card" id="quote_card">
      <div class="hover-effect"></div>
      <div class="type" id= "type1">Blinds (excluding plastic/metal)</div>
      <div class="price">
        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
        src="https://media.istockphoto.com/photos/cleaning-white-metall-sun-blinds-picture-id1278588696?b=1&k=20&m=1278588696&s=170667a&w=0&h=Lz1Lt89BAnHeSlxxPHrZEwb9L6ROSuHUTb4Jj0AXFZg="/>
 
      </div>
      <p> $ 2.50 ea</p>
      <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>

    </div>

  <div class="card" id="quote_card">
      <div class="hover-effect"></div>
      <div class="type" id= "type1">Interior door cleaning (detailed wet wipe)</div>
      <div class="price">
        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
       src="https://media.istockphoto.com/photos/woman-cleaning-a-door-handle-with-a-disinfection-spray-picture-id1213532970?b=1&k=20&m=1213532970&s=170667a&w=0&h=o3zLvtp6ZJ476lwP-wNKLMnR5oQXOQGaIkEskzODni0="/>

        
      </div>
      <p> $ 2.50 ea</p>
      
      <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
  </div>

  <div class="card" id="quote_card">
      <div class="hover-effect"></div>
      <div class="type" id= "type1">Bathtub cleaning</div>
      <div class="price">
        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
        src="https://media.istockphoto.com/photos/bathroom-cleaning-picture-id509673530?b=1&k=20&m=509673530&s=170667a&w=0&h=q3dQf5Iq-HI7CB1wHQOL1TGh841kTpwbOePFYM-vaPk="/>

      </div>
      <p> $ 15 </p>
      <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
  </div>

  <div class="card" id="quote_card">
      <div class="hover-effect"></div>
      <div class="type" id= "type1">organizing clothes</div>
      <div class="price">
        <img class="img-fluid item-rounded card-img-top" style=" height: 150px;"
        src="https://media.istockphoto.com/photos/folding-clothes-and-organizing-stuff-in-boxes-and-baskets-concept-of-picture-id1269670706?b=1&k=20&m=1269670706&s=170667a&w=0&h=rs6fJooGYYekLMYvRt7nS-PEzSx-nWM0VwzHggzgUOM="/>
 
      </div>
      <p> Estimated time 4hours</p>
      <button class="order-btn"><a href="{% url 'quote' %}">BOOK NOW</a></button>
  </div>

  


</div>









{% endblock %}

{% block scripts %}

<script>

</script>

{% endblock %}