{% extends 'ROM/frontend/layouts/master.html' %}

{% load widget_tweaks %}

{% block content %}

<form>

  <div class="col-6">

    <div class="card">

      <div class="row">
        <label for="fname">Full Name</label>
              <input type="text" id="fname" name="firstname" class="form-control"  placeholder="Your name..">
      </div>
  
      <div class="row">
          <div class="col">
              <label for="inputEmail4">Email*</label>
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="col">
              <label for="inputEmail4">phone*</label>
            <input type="text" class="form-control" placeholder="Phone">
          </div>
      </div>
  
      <div class="form-group">
          <label for="inputAddress">Address*</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        
  
        <p><b>How did you hear about us</b></p>
  
        <div class="row">
          <div class="col ">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Second default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Second default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
              <label class="form-check-label" for="exampleRadios3">
                Disabled radio
              </label>
            </div>
      
          </div>
  
          <div class="col">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                      <label class="form-check-label" for="exampleRadios1">
                          Default radio
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                      <label class="form-check-label" for="exampleRadios2">
                      Second default radio
                      </label>
                      </div>
                  <div class="form-check ">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                      <label class="form-check-label" for="exampleRadios3">
                      Disabled radio
                      </label>
                  </div>
            
           </div>
      </div>
  
      <div class="row">
          <div class="col">
              <label for="hometype">Type of Home</label>
              <select class="custom-select" multiple>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
              </select>
          </div>
          <div class="col">
            <label for="building">Building or Complex Name if applicable</label>
            <input type="text" class="form-control" >
          </div>
      </div>
  
      <div class="row">
          <div class="col">
            <label for="bedroom">Number of Bedrooms</label>
            <select class="custom-select" multiple>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col">
            <label for="squarefoot">Square Footage</label>
            <input type="text" class="form-control" >
          </div>
      </div>
  
      <div class="row">
          <div class="col-md-4">
            <label for="bathroom">Number of Bathrooms</label>
            <select class="custom-select" multiple>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="col-md-4">
              <label for="levels">Number of levels in home</label>
              <select class="custom-select" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </div>
          <div class="col-md-4">
              <label for="people">Number of people living in the Home</label>
              <select class="custom-select" multiple>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </div>
      </div>
  
  
      
      <div class="row">
          <label for="other">Other rooms to be cleaned</label>
          <div class="col">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
  
              <div class="form-check disabled">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
        
          </div>
  
          
          <div class="col">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
              <div class="form-check disabled">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
            
           </div>
  
      </div>
  
  
      
      <div class="form-row">
          <div class="col">
              <label class="form-check-label" for="exampleRadios1">
                  Do you have any pets?
                </label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                   NO
                  </label>
                </div>
                
          </div>
          <div class="col">
              <label class="form-check-label" for="exampleRadios1">
                  If Yes,what type and how many?
                </label>
            <input type="text" class="form-control" >
          </div>
      </div>
  
      <h4>Home Keeping Services</h4>
  
      <div class="form-group">
          <label for="Select">Condition of Home</label>
          <select id="Select" class="form-control">
            <option>Disabled select</option>
            <option>Disabled select</option>
            <option>Disabled select</option>
          </select>
      </div>
  
      <p>What Services are you interested in?<p>
      <div class="row">
          
          <div class="col">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
  
              <div class="form-check disabled">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
        
          </div>
  
          
          <div class="col">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
              <div class="form-check disabled">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                  <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                  </label>
              </div>
            
           </div>
  
      </div>
  
  
      <div class="form-row">
          <div class="col">
              <label class="form-check-label" for="exampleRadios1">
                  What Frequency of Service Works for You?
                </label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Weekly
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                   Bi-Weekly
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                   Monthly
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                   One- Time
                  </label>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                      <label class="form-check-label" for="exampleRadios2">
                       Other
                      </label>
                    </div>
                </div>
                
          </div>
          <div class="col">
              <label class="form-check-label" for="exampleRadios1">
                 Preffered Day
              </label>
              <input type="date" id="scheduled" name="scheduled">
          </div>
      </div>
  
      <div class="form-group">
          <label for="exampleFormControlTextarea1">Are there any problem areas you would like us to focus on <br>
              and/or anything else we should know about your home?</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        
      </div>
  
  
  
  
  

    </div>

    
    


  </div>








      
     

</form>

{% endblock %}