{% extends 'ROM/frontend/layouts/master.html' %}

{% load static %}

{% block content %}

<style>
  .bg-image{

    background-image: url("{% static 'images/plant.jpg' %}");

  }
  .bg1-image{
    background-image: url("{% static 'images/bedroom.jpg' %}");
  }
</style>


<div class="row  bg-light">

  <div class=" col-sm-12  p-0">

   <p class="text-dark text-center"> We Offer Commercial Services! <a class="text-dark" href="#">Learn More</a></p>

  </div>

</div>

  
  

<div class= " bg1-image ">

  <div class= "row justify-content-center h-100">

    <div class=" bg-image col-lg-12 text-center">

        <h3>OUR SERVICES</h3>


    </div>

  </div>

</div>

<div class="container-fluid p-0">

  <div class= "row justify-content-center h-100">

    <div class="  col-lg-12 text-center">

        <p>However, we have some new practices that include, but are not limited to:<br>

          Once the cleaners arrive at your home they will be in new masks and gloves. 
          When they start cleaning they will first use Clorox wipes throughout your home addressing every light switch, handle, and doorknob. 
          Those high traffic areas are key to helping sanitize a home. 
          As they change out their gloves throughout the cleaning they will always wash their hands between gloves.<br>
          
         <b>FOR CLIENTS:</b> 
          Please confine yourself to one room while we are in the home to help maintain social distancing protocols.<br>
           If you would like us to use specific products, please leave them out for us. Additionally, <br>
           we are adding more alcohol content to our cleaning solutions to help disinfect surfaces.<br>
          
          We are doing our best to help keep your home clean, while also keeping everyone we love and care about safe and healthy. </p>


    </div>

  </div>

  
  <div class= "row">

    <div class="col-md-6 pl-0 text-center p-3  bg-info text-white">

      <p id=regular >
        Regular service with Eco-Friendly Maid Service includes 
      </p>
      <p>
        a surface cleaning of all areas of your homes which <br>
        includes sanitation of counter tops, scrubbing of bathrooms<br>
        and kitchens, vacuum/dusting, and mopping of floors. <br>
        Our friendly and professional staff will also do light<br>
         staging of the home for a nice fresh feeling. <br>
        We base our regular cleanings off a weekly, bi-weekly,<br>
         and monthly rotation and can also do as needed cleaning.<br> 
        Scheduling is quick and easy once clients have received their quote!
      </p>

    </div>

    <div class="col-md-6  text-center" style="background-color:lightcyan;">

          <h6 >Add On Services:</h6>

        <pre >
                  Deep Cleaning

                Move-In Cleanings

              Move-Out Cleanings

            Refrigerator Cleanings

                  Oven Cleaning

          Interior Cabinet Cleaning

          Interior Window Cleaning

            Window Sill Detailing

            Interior Door Detailing

          Citrus Scrub Tub Cleaning

          Baseboard Damp Cleaning

                  Patio Cleaning​

          Wood Blind Damp Cleaning

        </pre>

    </div>

  </div>


  <div class= "row">

    <div class="col-md-3 p-0">
      <img class="img-fluid" src="{% static 'images/dinning.jpg' %}" style="width:100%;" alt="Image">

    </div>

    <div class="col-md-6 bg-info p-5 ">

      <h6 class="mt-3 ">Commercial Services</h6>

      <p >
        a surface cleaning of all areas of your homes.These areas <br>
        include sanitation of counter tops, scrubbing of bathrooms<br>
        and kitchens, vacuum/dusting, and mopping of floors. <br>
        Our friendly and professional staff will also do light<br>
         staging of the home for a nice fresh feeling. <br>
        We base our regular cleanings off a weekly, bi-weekly,<br>
         and monthly rotation and can also do as needed cleaning.<br> 
        Scheduling is quick and easy once clients have received their quote!
      </p>


    </div>

    
    <div class="col-md-3 pl-0">
      <img class="img-fluid" src="{% static 'images/dinning.jpg' %}" style="width:100%;" alt="Image">

    </div>


  </div>

  <div class= "row">

    <div class="col-md-5 p-0">
      <img class="img-fluid" src="{% static 'images/dinning.jpg' %}" style="width:100%;" alt="Image">

    </div>

    <div class="col-md-7 text-center" style="background-color:lightcyan;">

      <h4 class= "mt-4" >Sometimes our lives get crowded. <br>
        Let us help you make some room!
      </h4>

      <p class= "mt-3">
        We are excited to announce a new offering from Eco-Friendly Maid Service:<br>
         Personalized Services! <br>
        Our team can tailor their skills to assist with all kinds of projects to make your life a little easier,<br>
         giving you back time to spend on the stuff that really matters.<br>
      </p>

      <p>We can help with things like...</p>
      

        <ul class= "list-group text-center">
            <li>Washing and Drying Laundry</li>
            <li>Organizing Closets</li>
            <li>Personal Organizing</li>
            <li>Dog Walking & Pet Visits</li>
            <li>Grocery Shopping & Errands</li>
            <li>Special Requests</li>
        </ul>

        <figcaption>*Personalized services are separate from regular cleaning services*</figcaption>


    </div>

  </div>

  <!-- <div class= "row">

    <div class="col-lg-12">

        <h1 class="text-center  "><u>WHY CHOOSE US? </u></h1>
        <div class="container">
          <div class="row justify-content-md-center">

            <div class="col col-lg-3">

              <p>Affordable <br> Reasonable prices & <br> Always customizable</p>
  
            </div>
  
            <div class="col col-lg-3">
  
              <p>Affordable <br> Reasonable prices & <br> Always customizable</p>
  
            </div>
  
            <div class="col col-lg-3">
  
              <p>Affordable <br> Reasonable prices & <br> Always customizable</p>
              
            </div>
          </div>
        </div>

    </div>

  </div>  -->

  <div class="row justify-content-center bg-info">

    <div class="card bg-light">
      <div class="col-4">
        <p>$40/hr for new clients</p>
      </div>
    </div>

    
    <div class="card bg-light">
      <div class="col-4">
        One of two columns
      </div>
    </div>

  
  </div>

  <div class="row justify-content-md-center bg-info ">

   
    <div class="col-4 bg-light mt-5">

      <h3>Request Personalized Service</h3>

        <form   action="action_page.php">
      
          
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name">
            </div>
          </div>

          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="email">
         
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="What can we help with?" class="form-control"  style="height:200px"></textarea>
      
          <input type="button" class="btn btn-info btn-lg btn-block"  value="Send">
      
        </form>
  
      
    </div>
  
    </div>

    
 


 




</div>


{% endblock %}