{% extends 'ROM/frontend/layouts/master.html' %}

{% load static %}

{% load widget_tweaks %}

{% block css %}

<style>

    .bg1-image{
      background-image: url("https://cdn.pixabay.com/photo/2018/01/23/06/58/modern-minimalist-lounge-3100785__340.jpg");
      /* Full height */
      min-height: 15vh; 
        
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>

{% endblock css %}

{% block content %}

&nbsp;


<div class=" bg1-image row justify-content-md-center p-0 ">

    <h2 class="mt-3" style="letter-spacing:0.05em; text-align: center;">

      
        <span style="font-size: 4rem;" class="font-weight-bold  text-white mt-0">TERMS OF SERVICE</span>

    </h2>

</div>

<div  id="sig" style="min-width: 300px; max-width:800px; min-height: 82px; line-height: 18px; margin: auto; padding: 50px; margin-top:50px; font-family: 'Lucida ', Verdana, Arial, Sans-Serif; font-size: 12px; color: #333333;">
			<span style="font-size:12px; color: #21d9e6; text-decoration: none;"><strong>ROM Cleaning Services Terms and Conditions</strong></span></br>

                    <span style="font-size:12px; color: #21d9e6;"><strong>_</strong></span>&nbsp;
        </br>
        <p style="color: #333333; text-decoration: none;">
            Our pricing is determined by a system we've created throughout time. Prices will not alter without prior approval,
            however we reserve the right to adjust the cost of your cleaning in the event of unforeseen 
            circumstances (remodels, additional occupants/pets, or anything not included in your original quote).
            Our services are completely customizable, and we are always willing to work with clients for individual requests.

        </p>
        <br>
        <p>
            The price of your regular cleanings can/will change if you cancel or reschedule. 
            The main factor we use to decide is the length of time between cleanings.
        </p>
        </br>

        <p style="color: #333333; text-decoration: none;">
            Clients grant permission to ROM Cleaning services to take before and after photos, as well acknowledged that House 
            Bliss Cleaning owns such photos and may use them for confirming a price estimate and marketing purposes. 
            House Bliss Cleaning agrees to not use the client’s name in relation to public release photos without written consent.
        </p>
    
        </br>
        <p style="color: #333333; text-decoration: none;">
            We do our best to meet exceptional requests for days and times, but a cleaner's daily schedule might be unpredictable.
            Please understand and enable us to clean your home between the hours of 8:30 and 5:30 p.m.

            A few days before your cleaning, we send you a cleaning reminder. This e-mail serves as a reminder and confirmation of your cleaning appointment. 
            Please utilize this reminder to inform us of any changes that may have an impact on your cleaning. 
            This is also a good time to submit any unique requests or add-ons!
        </p>
        <br>

        <p style="color: #333333; text-decoration: none;">
            Please know that workers’ compensation insurance and OSHA guidelines do not allow us to request employees to remove human or pet discharge 
            (including urine, feces, vomit, blood) without proper training and equipment. Our insurance does not cover us for any employees
             in the case that they get sick from being in touch with human or pet discharge while working for us; therefore we communicate to 
             the cleaning teams that they are not allowed to touch/remove/ clean areas where it has been contaminated by human/pet discharge. 
             We also cannot clean while pest control spray is fresh.
             We would appreciate your letting us know if there is someone home ill; we can take precautions or might re-schedule.
        </p>
        <br>

        <p style="color: #333333; text-decoration: none;">
             We recommend that the client meet the cleaner(s) for the first cleaning; we can try to set up a fixed time for the initial cleaning.
             We recommend setting up a lockbox or other sorts of Smart Locks if you decide to pursue regular services. 
             We can take a key to keep in our office if you desire, but this is not the recommended mode of entry.

            Certified mail will be used to return keys. The cost is ten dollars.
        </p>
        <br>

        <p style="color: #333333; text-decoration: none;">
            All trash cans in the house will be emptied and re-lined as required. ROM Cleaning  will NOT dispose of any items not already in a 
            trashcan or labeled as trash. We never know what might be important to you. This includes soda cans, empty bottles, leftover food, etc.
           
       </p>
       <br>

        <p style="color: #333333; text-decoration: none;">
            We take cash, checks, and all major credit cards at this time. Some people choose to have their banks send us payment via bill pay.
            If we haven't received payment one week after cleaning after mailing a check, we will charge the card on file.
            Before we can book a work, we need to have a valid credit card on file.
        </p>
        <br>
        </br>

        <p style="color: #333333; text-decoration: none;">
            As a client, you agree not to personally hire any present or former employees. Employees also agree to not clean for hire outside of ROM client base.
        </p>
        <br>
        </br>

        <p style="color: #333333; text-decoration: none;">
            We ask that you not request our staff to move anything over 25 lbs. We are pet-friendly; however, 
            if your pets have free range of the house, we request that you meet the cleaning team the first time for an introduction, and give any special instructions. 
            If your pets are aggressive or protective when alone, we request that you board them or make other arrangements during the cleaning.
        </p>
        <p style="color: #333333; text-decoration: none;">
            As a safety precaution for our staff and other clients, we also request that we be alerted 24 hours prior to a 
            cleaning if the household inhabitants have been unwell. Furthermore, there must be no infestation in the house.

           Any work or assignment might be refused by our cleaners (climbing ladders, using chemicals, cleaning specific areas, etc.)..
        </p>

        <br>
        </br>

        <p style="color: #333333; text-decoration: none;">
            Our staff will bring everything needed for the cleaning except a brush to clean the interior of your toilet.
            You must provide that in a visible area. We use top of the line equipment that is sustainably and ethically manufactured. 
            If you want our staff to use a special product or piece of equipment it must be clearly communicated to the office.
            Notes in home directly to the team member will not be acceptable forms of communication. We require all requests to be filtered through the office.
            If you do require our staff to use your equipment we do NOT accept responsibility for broken equipment.
            We extensively train our team to utilize our tools but we are not able to adequately train the team for all types of equipment.
       </p>
       <br>
       </br>

        <p style="color: #333333; text-decoration: none;">
            The best protection is a precaution. House Bliss Cleaning strives to provide the best possible cleaning experience, and carefully selects the cleaning crews, which we use.
             However, please DO NOT leave out any money or valuables, which could be lost or taken. When we find valuables left out, we will clean around them. 
             If valuable items are found on the floor, they will be placed on furniture in the same room they were found. ROM Cleaning company  protects you from theft. 
            If a theft is suspected, our bond requires that you file a police report with your local authorities.
       </p>
       <br>
       </br>


        <p style="color: #333333; text-decoration: none;">
             We understand that unexpected events occur, and we ask for a 24-hour warning.
             We will charge the full fee of the cleaning if adequate notice is not given. We also reserve the right to charge 100% of the cleaning fee 
             for projects that are canceled while we are on site due to misinformation, unanticipated events, or a home that has not been
             adequately cleaned, among other things.


             A $25 fee will be applied to invoices that are not paid within 14 days of service.
        </p>
        <br>
        </br>

        <p style="color: #333333; text-decoration: none;">
            Gift vouchers, services, and products purchased from us are not refundable. If you have a problem about our service,
            we will most likely resolve it with a discounted future service or by returning to your home to complete the job as quickly as possible. 
            To be properly handled, all complaints must be sent within 24 hours of the completion of the job. Thank you very much for your patience!
       </p>
       <br>
       </br>
        <span style="font-size:16px; color: #21d9e6;"><strong>_</strong></span>
        <p style="color: #333333; text-decoration: none;">© ROM
        </br><a href="https://www.google.it/maps/place/Carlorattiassociati+S.R.L./@45.062398,7.707512,17z/data=!3m1!4b1!4m2!3m1!1s0x4788729757d76f45:0x4f45a6f1ea92e712?hl=it"; style="font-family: 'Lucida ', Verdana, Arial, Sans-Serif; font-size: 10px; color: #333333; text-decoration: none;">26, corso Quintino Sella, 10131 - Torino, Italy </a><br>
        </p>
                    <span style="font-size:16px"><strong style="color: #21d9e6;">_</strong></span>
        <br/><br/>
</div>



{% endblock %}